
<% content_for :html_head do %>

<% @keywords =  'report spam mail,spam blocker,spam list,report spammers,report spam email,report spam,blacklist,abuse,website,domains,spam check,email abuse,spam war,utility,spammers'%>

<% @description = 'Use the free spam list to check whether or not a website is a spammer. If a website abuses your email address, report them here.'  %>

	<%= stylesheet_link_tag 'demo_page.css' %> 
	<%= stylesheet_link_tag 'demo_table_jui.css' %> 
	<%= javascript_include_tag 'jquery.dataTables.min.js' %>
	
	<script type="text/javascript" charset="utf-8">
		$(document).ready(function() {
			oTable = $('#example').dataTable({
				"bJQueryUI": true,
				"sPaginationType": "full_numbers"
			});
		} );
	</script>


<% end %>



<div class = "span-18 last">
		<%= page_title('Spam List and Website Rankings', 'h2') %>
	<br />
	<center>
 
	</center>

	<div id = "float_wrapper">
	<div id = "main_input_websites" >
	<% if @websites != nil %>

	<table cellpadding="0" cellspacing="0" border="0" class="display span-16 last" id="example">
		<thead>
			<tr>
				<th>Date Added</th>
				
				<th>Website Address</th>
			</tr>
		</thead>
		<tbody>

		<% for website in @websites %>
			<tr  class="clickable"  onclick = "window.location.href = '<%=  website_path(website.id) %>' ">
				<td><%= website.created_at.strftime("%m/%d/%Y") %></td>
				<td><%= link_to "#{h website.url}", show_website_path(:url => website.url) %></td>
			</tr>
		
		<% end %>
		</tbody>
	</table>
	<% end %>
	</div>
	<div class = "float_space"></div>
	</div><!-- wrapper -->


	
</div>


<div class="span-4">
	<br /><br /><br />
<%= render :partial => "static/ads" %>

<%= render :partial => "static/ads" %>
<br />
</div>

<hr />
	<div id = "email_explained">
	
		<h4>What is a WhySpam™ Website Ranking ?</h4>
		<p>
		WhySpam™ Website rankings are the best way to know if the site you're about to give your email to is a known spammer. Some websites make money by selling your personal information to spammers. So every-time someone makes a customized WhySpam™ <%= link_to "Disposable Email", root_path  %> and only hands it out to a single website, if they start to recieve unsolicited mail from a third party, then we know that website sold their information. By exposing those who sell your information we can help everyone steer clear from the bad websites, and let everyone know about the websites who respect your privacy. 
	 	<br /><br />
			<%= link_to "Too Bad not Everyone Respects your Privacy Like us.", {:action => "privacy", :controller => "static"}, {:rel => "prettyPopin" } %>
		</p>
	</div>

		</div>


<div>
	<br />
	<br />
	<br />

</div>
	
	
