<ps<center> Survey Results for: <b><%= @website.url %></b></center>

<hr />
<br />

Added on: <%= @website.created_at.to_s(:long) %><br />




<table>
	<tr><td></td><td><u>Yes</u></td><td><u>No</u></td><td><u>Percentage</u></td></tr>
		<tr>
		<td>Did <%= @website.url %> Require Action on the users part to opt  out of Emails? <br /> Such as "Uncheck this box to opt out of receiving our Newsletter " </td><td><%= %></td><td><%= %></td><td></td></tr>
		
		<td>Did <%= @website.url %> Send you Un-solicited Emails?":" </td><td><%= %></td><td><%= %></td><td></td></tr>
		
		<td>Did <%= @website.url %> sell your email address?  </td><td><%= %></td><td><%= %></td><td></td></tr>

		<td>Did you receive vulgar or inappropriate emails after giving this website account? </td><td><%= %></td><td><%= %></td><td></td></tr>



</table>
<p>*Note that survey listings are only recorded if the user reports that they only gave their Secure Email to <%= @website.url %></p>
<br />
Comments:<br />
<% for survey in @website.surveys %>
<div>
<%=  survey.comments %><br />
<%= survey.created_at.to_s(:short) %> | <%= survey.user.login %>
</div><br />
<% end %>
</p>