<hr />
<div id = "no_spam_container" class = "center">
<% if  @whymail.valid? && !@whymail.nil? %>
	<div id = "no_spam_label">	Your Disposable Email:</div><br />
			<textarea id = "no_spam" class = "center" cols="35" rows="1"
			 	readonly onclick="this.focus(); this.select();" style = ""><%= @whymail.email %></textarea>
			
			<br />
			<p>All email sent to this disposable email address will be forwarded to <%= @email %>. </p>
			<p>To test this mailbox send an email to <a href="mailto:<%= @whymail.email %>?subject=This is a Test Email&body=Replace me with your message">yourself</a></p>
			
<% else %>
<center>

	<div class= "remoteErrorMessage">
		<%= @extra_message %>
		<%= @whymail.errors.full_messages.first %>
	</div>
	<br />
</center>

<% end %>


<br />






		<script>function fbs_click() {u=location.href;t=document.title;window.open(’http://www.facebook.com/sharer.php?u=’+encodeURIComponent(u)+’&t=’+encodeURIComponent(t),’sharer’,'toolbar=0,status=0,width=626,height=436′);return false;}</script><a href="http://www.facebook.com/share.php?u=http://whyspam.me" onclick="return fbs_click();javascript: pageTracker._trackPageview('/outgoing/facebook/share');" target="_blank"><img src="images/fbshare.jpg" alt="Share on Facebook" /></a>

		&nbsp &nbsp &nbsp
	<a href="http://twitter.com/home?status=I'm Laying the smack down on spam with http://whyspam.me" onclick=";javascript: pageTracker._trackPageview('/outgoing/twitter/tweet');" target="_blank"><%= image_tag "tweetus.jpg" %></a>
	


</div>
<hr />

