<% content_for :html_head do %>
<script type="text/javascript">
		$(function() {
			$("#tabs").tabs();
			
			$('#user_submit').hover(
				function() { $(this).addClass('ui-state-hover'); }, 
				function() { $(this).removeClass('ui-state-hover'); }
			);
			
			
		});	

</script>

<% end %>


<div class = "span-24 last">

	<% @user = User.new(:email => "Email", :website => "Website") %>
	<% remote_form_for @user, :controller => 'secure_email', :update => 'update', 
					:loading => "$('#indicator').show();$('#update').hide();", 
					:complete => "$('#indicator').hide();$('#update').show()",
					:url =>  { :action => "create"}, 
					:html => { } do |f| %>

			
			<div class = "span-13">
			<h2>WhySpam™ Disposable Email</h2>
<br />
			<table class = "prepend-1 ">
				
				<tr>
					<td><%= f.label "Your Email:" %></td>
					<td><%= f.default_text_field :email , configatron.default_email %></td>
				</tr>

				<tr>
					<td class = "optional_td">
						<%= f.label "Website:" %><br />
						<span class = "optional">Optional</span>
						<%= link_to " (Why?)", {:action => "faq", :controller => "static", :anchor => "optional_website"} %>
					</td>

					<td>
						<%= f.default_text_field :website, configatron.default_website_optional  %>
					</td>
				</tr>
			</table>
			
	 <br />
		 	<div class='clearfix center span-19 prepend-5 last'>		
				<%=  f.button_with_icon("Generate Disposable Email", "mail-closed") %>
			</div>
			

		<% end %>
		</div>
		
		<div class = "span-10 last" id = "youtube-video">
<object width="378" height="234"><param name="movie" value="http://www.youtube.com/v/SLJHPMxgAWU&hl=en_US&fs=1&"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/SLJHPMxgAWU&hl=en_US&fs=1&" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="378" height="234"></embed></object>
		</div>
		<%# render :partial => "static/ads"%>
		
		<br />
		<div id = "update" style = "display:none" class = "last"></div>
			<div class = "center">
				<div id = "indicator" style="display:none">
					<hr />
					<%= image_tag("loading.gif") %>
				</div>
			</div>
	</div><!-- span-24 -->
			
			<div class = "center ">
				<%= image_tag("chevron.jpg")%>
			</div>
					

				<div class = "span-15 prepend-1">
						<br />
						<p><h3>How Do I Use A Disposable Email?</h3></p>

						<p> 
							<a style = "float:left;" 
								href = "<%= url_for( :action => 'faq', :controller =>'static' ) %>"  
								class ="bottom_buttons inline-block center ui-state-default ui-corner-all" id = "widget">
								<b class = "faq">FAQ</b><br />
								<b>Frequently <br /> Asked <br />Questions</b>
							</a>
							
							
							When a website asks for your e-mail address, go to <a href = "http://www.whyspam.me">WhySpam.Me</a>. Put your personal email, and the suspected spammers website in our form, we'll give you a disposable email address that you can give to that website. 	When they send messages to your disposable email, we will forward the messages to your personal email address. So you get your messages without giving out your personal email address.<br /><br /> If the website ever starts sending spam to your disposable email address, you can shut it down. That way anyone they sold the disposable email to is out of luck! When you shut down a disposable email, we put the website in our <%= link_to "spam report", websites_path %> . <br /><br />
							<%= link_to "We do not give out your email or personal information. Period.", {:action => "privacy", :controller => "static"}, {:rel => "prettyPopin" } %></p>

					
				</div>



					

				<div class = "span-4 prepend-1 last">
					<br />
					<%= render :partial => "static/ads"%>				
				</div>
				



