



<% content_for :html_head do %>
<%= stylesheet_link_tag 'stylish-select.css', :media => 'screen, projection' %> 


<% @keywords = 'free disposable email,temporary email,free email,spam blocker,anonymous email, spam list,remove spam,email,anonymous,spam,stop spam,accountability, secure email,forward,report'%>

<% @description = Time.now.strftime("%b %d, %Y") + ' Free disposable email addresses protect your identity and forward messages straight to your inbox. Keep disposable email addresses for as long as you want and delete them when you\'re ready.'  %>

<%= javascript_include_tag 'jquery.stylish-select.min.js'  %>


<script type="text/javascript">

$(document).ready(function(){
	
	
	$('#addrs').sSelect();
});


		$(function() {
			$("#tabs").tabs();
			
			$('#user_submit').hover(
				function() { $(this).addClass('ui-state-hover'); }, 
				function() { $(this).removeClass('ui-state-hover'); }
			);
			
			
			$('#youtube-video object').css("display", "block");
			$('#you-tube-how object').css("display", "block");


		});	

</script>

<% end %>



<!-- area added for facebook share -- >
	<link rel="video_src" href="http://www.youtube.com/watch#!v=SLJHPMxgAWU"/>
	<meta name="video_height" content="200" /> 
	<meta name="video_width" content="300" /> 
	<meta name="video_type" content="application/x-shockwave-flash" />

	<link rel="image_src" href="images/envelope.png" />
<!-- area added for facebook share -->




<div class = "span-24 last disposableEmail">
	<div id = "ribbon-wrapper" class = "span-24">
		<div id = "ribbon" class = "span-12">
			<div class = "span-10 prepend-1">
	 		<%= page_title('Free Disposable Email', 'h2') %>
			<h4>Hide your Email <span class = "amp">&</span> Expose Spammers</h4>
			</div>
		</div>
		<div class = "span-3 pull-1">
			<a href = "http://www.killerstartups.com/Web-App-Tools/whyspam-me-have-a-disposable-email-for-free" rel="nofollow">
				<img src = "images/killerstartups.jpg" />
			</a>
		</div>

	</div>
	




	<% remote_form_for @user, :controller => 'secure_email', :update => 'update', 
					:loading => "$('#indicator').show();$('#update').hide();", 
					:complete => "$('#indicator').hide();$('#update').show()",
					:url =>  { :action => "create"}, 
					:html => {:name => 'whymail' } do |f| %>

			
			<div class = "span-13">
			
<br />
			<table class = "prepend-1 " id = "whymail-index-table">
				
				<tr>
					<td><%= f.label "Your Email:" %><br />	
						<span class = "optional_td"><%= link_to " (will remain private)", url_for(:action => "privacy", :controller => "static")  %>		 
 </span>
						</td>
					<td><%= f.default_text_field :email , configatron.default_email %></td>
				</tr>

				<tr>
					<td class = "optional_td">
						<%= f.label "Website:" %><br />
					</td>

					<td>
						<%= f.default_text_field :website, configatron.default_website  %>
					</td>
				</tr>
			</table>
			<div class='clearfix center span-11 prepend-4 last'>		
				<div class = "span-6">
					<div id = "whymailSubmitButton" onClick="document.whymail.onsubmit()">
						<h4><a>Get a Disposable Email !</a></h4>
					</div>
					<%#  f.button_with_icon("Get Disposable Email", "mail-closed") %>
				</div>
				<div class = "span-3" id = "addrsWrapper">
					<%=   select_tag "addrs", "<option selected='selected'>@whyspam.me</option><option>@amilegit.com</option>" %>
				</div>
				<div class = "delete span-6">
						<%= link_to 'Delete Email', manage_index_path %>
				</div>
			</div>


		</div>
		
		<div class = "span-9 last" id = "youtube-video">
			
			<object width="370" height="233" ><param name="movie" value="http://www.youtube.com/v/SLJHPMxgAWU&hl=en_US&fs=1&"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/SLJHPMxgAWU&hl=en_US&fs=1&" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="370" height="233"></embed></object>
			
			
		</div>
		<%# render :partial => "static/ads"%>
		
		<br />
		<div id = "update" style = "display:none" class = "last"></div>
			<div class = "center">
				<div id = "indicator" style="display:none">
					<hr />
					<%= image_tag("loading.gif") %>
				</div>
			</div>
	</div><!-- span-24 -->
	
	<% end %>
	
			
			<div class = " span-22 clearfix chevron" >
				<%# image_tag("chevron.jpg")%>
				<div class="span-4 chev center">
					<h3><b>Step 1</b></h3>
					<p>
						<b>Enter Your Email</b>
						<br /><br />
						<i>"foo@example.com"</i>
					</p>
				</div>
				<div class="span-4 chev center">
					<h3><b>Step 2</b></h3>
					<p>
						<b>Enter Website In-Question</b>
						<br />
						<i>"www.example.com"</i>
						
					</p>
				</div>
				<div class="span-4 chev center">
					<h3><b>Step 3</b></h3>
					<p>
						<b>Generate Free Disposable Email</b>
						<br />
						<i>(press the button)</i>
						
					</p>
				</div>
				<div class="span-4 chev center">
					<h3><b>Step 4</b></h3>
					<p>
						<b>Give Out Your Disposable Email</b>
						<br />
						<i>(to the website in-question)</i>
						</p>
				</div>
				<div class="span-3 center">
					<br /><br />
					<a style = "margin-left:30px" href = "<%= url_for( :action => 'faq', :controller =>'static' ) %>"  
						class ="bottom_buttons inline-block center ui-state-default ui-corner-all" id = "widget">
						<b class = "faq">FAQ</b><br />
						<b>Frequently <br /> Asked <br />Questions</b>
					</a>
				</div>
			</div>
					

				<div class = "prepend-1 span-17">
						<br />
						<p><h3>How Do I Generate A Disposable Email?</h3></p>

						
						<p> 
						<div id = "you-tube-how">
<object width="560" height="380"><param name="movie" value="http://www.youtube.com/v/DtjOTK-_PJY&hl=en_US&fs=1&color1=0x2b405b&color2=0x6b8ab6"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/DtjOTK-_PJY&hl=en_US&fs=1&color1=0x2b405b&color2=0x6b8ab6" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="560" height="380"></embed></object>



						</div>
							
				</div>



					

				<div class = "span-4 last">
					<br />
					<br />
					<br />
					<%= render :partial => "static/ads"%>				
				</div>
				



