<% content_for :html_head do %>
<script type="text/javascript">
		$(function() {
			$("#tabs").tabs();
			
			$('#user_submit').hover(
				function() { $(this).addClass('ui-state-hover'); }, 
				function() { $(this).removeClass('ui-state-hover'); }
			);
			
			
		});	

</script>

<% end %>


<div class = "span-24 last">

	<% @user = User.new(:email => "Email", :website => "Website") %>
	<% remote_form_for @user, :controller => 'secure_email', :update => 'update', 
					:loading => "$('#indicator').show();$('#update').hide();", 
					:complete => "$('#indicator').hide();$('#update').show()",
					:url =>  { :action => "create"}, 
					:html => { } do |f| %>

			
			<div class = "span-13">
			<h2>Disposable Email -</h2>
<br />
			<table class = "prepend-1 ">
				
				<tr>
					<td><%= f.label "Your Email:" %><br />	
						<span class = "optional_td"><%= link_to " (will remain private)", url_for(:action => "privacy", :controller => "static")  %>		 
 </span>
						</td>
					<td><%= f.default_text_field :email , configatron.default_email %></td>
				</tr>

				<tr>
					<td class = "optional_td">
						<%= f.label "Website:" %><br />
					</td>

					<td>
						<%= f.default_text_field :website, configatron.default_website  %>
					</td>
				</tr>
			</table>
			
	 <br />
		 	<div class='clearfix center span-19 prepend-5 last'>		
				<%=  f.button_with_icon("Generate Disposable Email", "mail-closed") %>
			</div>
			

		<% end %>
		</div>
		
		<div class = "span-9 last" id = "youtube-video">
<object width="355" height="225"><param name="movie" value="http://www.youtube.com/v/SLJHPMxgAWU&hl=en_US&fs=1&"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/SLJHPMxgAWU&hl=en_US&fs=1&" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="355" height="225"></embed></object>
		</div>
		<%# render :partial => "static/ads"%>
		
		<br />
		<div id = "update" style = "display:none" class = "last"></div>
			<div class = "center">
				<div id = "indicator" style="display:none">
					<hr />
					<%= image_tag("loading.gif") %>
				</div>
			</div>
	</div><!-- span-24 -->
			
			<div class = " span-22 clearfix chevron" >
				<%# image_tag("chevron.jpg")%>
				<div class="span-4 chev center">
					<h3><b>Step 1</b></h3>
					<p>
						<b>Enter Your Email</b>
						<br /><br />
						<i>"foo@example.com"</i>
					</p>
				</div>
				<div class="span-4 chev center">
					<h3><b>Step 2</b></h3>
					<p>
						<b>Enter Website In-Question</b>
						<br />
						<i>"www.example.com"</i>
						
					</p>
				</div>
				<div class="span-4 chev center">
					<h3><b>Step 3</b></h3>
					<p>
						<b>Generate Disposable Email</b>
						<br />
						<i>(press the button)</i>
						
					</p>
				</div>
				<div class="span-4 chev center">
					<h3><b>Step 4</b></h3>
					<p>
						<b>Give Out Your Disposable Email</b>
						<br />
						<i>(to the website in-question)</i>
						</p>
				</div>
				<div class="span-3 center">
					<br /><br />
					<a style = "margin-left:30px" href = "<%= url_for( :action => 'faq', :controller =>'static' ) %>"  
						class ="bottom_buttons inline-block center ui-state-default ui-corner-all" id = "widget">
						<b class = "faq">FAQ</b><br />
						<b>Frequently <br /> Asked <br />Questions</b>
					</a>
				</div>
			</div>
					

				<div class = "prepend-1 span-17">
						<br />
						<p><h3>How Do I Generate A Disposable Email?</h3></p>

						
						<p> 
						<div id = "you-tube-how">
<object width="560" height="380"><param name="movie" value="http://www.youtube.com/v/DtjOTK-_PJY&hl=en_US&fs=1&color1=0x2b405b&color2=0x6b8ab6"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/DtjOTK-_PJY&hl=en_US&fs=1&color1=0x2b405b&color2=0x6b8ab6" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="560" height="380"></embed></object>
						</div>
							

				</div>



					

				<div class = "span-4 last">
					<br />
					<%= render :partial => "static/ads"%>				
				</div>
				



