<span><h2>Log In</h2>
<h3> - To manage your forwarding Options</h3> </span><br /><br />

<div id = "float_wrapper" >
<div id = "main_input">
<% form_tag session_path do -%>
<table>
	<tr>
		<td><b><%= label_tag 'Your Email:' %></b></td>
		<td><%= text_field_tag 'email', @login||"" %></td>
	</tr>

	<tr>
		<td><b><%= label_tag 'Password:' %></b><br /><sub><span class = "small_text">(Default is Your Email)</sub></span></td>
		<td style = "vertical-align: top;
		"><%= password_field_tag 'password', nil %></td>
</table>


<p class = "center" >

<%= submit_tag 'Log in', :id => "login_button" %> 
<span class = "remember_me">
<%= check_box_tag 'remember_me', '1', @remember_me %><%= label_tag 'remember_me', 'Remember me?' %>
</span>

 </p>

<span class = "float_right">
	<%= link_to "We Don't Spam", {:action => "privacy", :controller => "static"}, {:rel => "prettyPopin" } %>
</span>


<% end -%>
</div>


<div id = "ads">
	<script type="text/javascript"><!--
	google_ad_client = "pub-9419044821517786";
	/* WhySpam Square */
	google_ad_slot = "6597264537";
	google_ad_width = 200;
	google_ad_height = 200;
	//-->
	</script>
	<script type="text/javascript"
	src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
	</script>
</div><!-- ads -->

<div class = "float_space"></div>
</div><!-- wrapper -->

	
<div id = "login_explained" >
	<h2>When did I Sign Up?</h2>
	<p>When you create a Secure Email or Secure Form, we create a user account for you, so you don't have to. If this is your first time to this page, your personal email address is your password.</p>
	
	
</div>
