<% content_for :html_head do %>

<%= stylesheet_link_tag 'why.css', :media => 'screen, projection' %> 

<%= javascript_include_tag 'highcharts'  %>


	
	<script type="text/javascript">
	


	
	date_array = <%= @users %>;
		var chart = new Highcharts.Chart({
		   chart: {
		      renderTo: 'users-per-day',
		   },
		        title: {
		      text: 'New Users Per Day'
		   },
		        subtitle: {
		      text: 'New Users, they\'re awesome and stuff'
		   },
		   xAxis: {
		      type: 'datetime',
		      title: {
		         text: null
		      }
		   },
		   yAxis: {
		      title: {
		         text: 'Users'
		      },
		      min: 0,
		      showFirstLabel: false
		   },
		   tooltip: {
		      formatter: function() {
		         return Highcharts.numberFormat(this.y, 0) + " Users on <br />" + Highcharts.dateFormat('%A %B %e %Y', this.x) + ':<br/>';
		      }
		   },
		   legend: {
		      enabled: false
		   },
		   plotOptions: {
		      spline: {
		         marker: {
		            enable: false
		         }
		      }
		   },
		  
		   series: [{
		      data: date_array
		   }]
		});





	//=======================================================
	
	
	var chart = new Highcharts.Chart({
	   chart: {
	      renderTo: 'container',
	      zoomType: 'x'
	   },
	        title: {
	      text: 'USD to EUR exchange rate from 2006 through 2008'
	   },
	        subtitle: {
	      text: 'Click and drag in the plot area to zoom in'
	   },
	   xAxis: {
	      type: 'datetime',
	      maxZoom: 14 * 24 * 3600000, // fourteen days
	      title: {
	         text: null
	      }
	   },
	   yAxis: {
	      title: {
	         text: 'Exchange rate'
	      },
	      min: 0.6,
	      showFirstLabel: false
	   },
	   tooltip: {
	      formatter: function() {
	         return '<b>'+ (this.point.name || this.series.name) +'</b><br/>'+
	            Highcharts.dateFormat('%A %B %e %Y', this.x) + ':<br/>'+
	            '1 USD = '+ Highcharts.numberFormat(this.y, 2) +' EUR';
	      }
	   },
	   legend: {
	      enabled: false
	   },
	   plotOptions: {
	      area: {
	         fillColor: {
	            linearGradient: [0, 0, 0, 300],
	            stops: [
	               [0, '#000000'],
	               [1, 'rgba(0,0,0,0)']
	            ]
	         },
	         lineWidth: 1,
	         marker: {
	            enabled: false,
	            states: {
	               hover: {
	                  enabled: true
	               }
	            }
	         },
	         shadow: false,
	         states: {
	            hover: {
	               lineWidth: 1                  
	            }
	         }
	      }
	   },

	   series: [{
	      type: 'area',
	      name: 'USD to EUR',
	      data: [
	         [Date.UTC(2006, 0, 01), 0.84460], [Date.UTC(2006, 0, 02), 0.84450], 
	         [Date.UTC(2006, 0, 03), 0.84440], [Date.UTC(2006, 0, 04), 0.84510], 
	         [Date.UTC(2006, 0, 05), 0.84180], [Date.UTC(2006, 0, 06), 0.82640], 
	         [Date.UTC(2006, 0, 07), 0.82580], [Date.UTC(2006, 0, 8), 0.82320], 
	         [Date.UTC(2006, 0, 9), 0.82330], [Date.UTC(2006, 0, 10), 0.82580], 
	         [Date.UTC(2006, 0, 11), 0.82830], [Date.UTC(2006, 0, 12), 0.82780], 
	         [Date.UTC(2006, 0, 13), 0.82560], [Date.UTC(2006, 0, 14), 0.82920], 
	         [Date.UTC(2006, 0, 15), 0.82390], [Date.UTC(2006, 0, 16), 0.82390], 
	         [Date.UTC(2006, 0, 17), 0.82450], [Date.UTC(2006, 0, 18), 0.82650], 
	         [Date.UTC(2006, 0, 19), 0.82610], [Date.UTC(2006, 0, 20), 0.82690], 
	         [Date.UTC(2006, 0, 21), 0.82730], [Date.UTC(2006, 0, 22), 0.82440], 
	         [Date.UTC(2006, 0, 23), 0.82440], [Date.UTC(2006, 0, 24), 0.81720], 
	         [Date.UTC(2006, 0, 25), 0.81390], [Date.UTC(2006, 0, 26), 0.81460], 
	         [Date.UTC(2006, 0, 27), 0.81640], [Date.UTC(2006, 0, 28), 0.820], 
	         [Date.UTC(2006, 0, 29), 0.82690], [Date.UTC(2006, 0, 30), 0.82690], 
	         [Date.UTC(2006, 0, 31), 0.82690], [Date.UTC(2006, 1, 01), 0.82580], 
	         [Date.UTC(2006, 1, 02), 0.82470], [Date.UTC(2006, 1, 03), 0.82860], 
	         [Date.UTC(2006, 1, 04), 0.82890], [Date.UTC(2006, 1, 05), 0.83160], 
	         [Date.UTC(2006, 1, 06), 0.8320], [Date.UTC(2006, 1, 07), 0.83330], 
	         [Date.UTC(2006, 1, 8), 0.83520], [Date.UTC(2006, 1, 9), 0.83570], 
	         [Date.UTC(2006, 1, 10), 0.83550], [Date.UTC(2006, 1, 11), 0.83540], 
	         [Date.UTC(2006, 1, 12), 0.84030], [Date.UTC(2006, 1, 13), 0.84030], 
	         [Date.UTC(2006, 1, 14), 0.84060], [Date.UTC(2006, 1, 15), 0.84030], 
	         [Date.UTC(2006, 1, 16), 0.83960], [Date.UTC(2006, 1, 17), 0.84180], 
	         [Date.UTC(2006, 1, 18), 0.84090], [Date.UTC(2006, 1, 19), 0.83840], 
	         [Date.UTC(2006, 1, 20), 0.83860], [Date.UTC(2006, 1, 21), 0.83720], 
	         [Date.UTC(2006, 1, 22), 0.8390], [Date.UTC(2006, 1, 23), 0.840], 
	         [Date.UTC(2006, 1, 24), 0.83890], [Date.UTC(2006, 1, 25), 0.840], 
	         [Date.UTC(2006, 1, 26), 0.84230], [Date.UTC(2006, 1, 27), 0.84230], 
	         [Date.UTC(2006, 1, 28), 0.84350], [Date.UTC(2006, 2, 01), 0.84220], 
	         [Date.UTC(2006, 2, 02), 0.8380], [Date.UTC(2006, 2, 03), 0.83730], 
	         [Date.UTC(2006, 2, 04), 0.83160], [Date.UTC(2006, 2, 05), 0.83030], 
	         [Date.UTC(2006, 2, 06), 0.83030], [Date.UTC(2006, 2, 07), 0.83020], 
	         [Date.UTC(2006, 2, 8), 0.83690], [Date.UTC(2006, 2, 9), 0.840], 
	         [Date.UTC(2006, 2, 10), 0.83850], [Date.UTC(2006, 2, 11), 0.840], 
	         [Date.UTC(2006, 2, 12), 0.84010], [Date.UTC(2006, 2, 13), 0.84020], 
	         [Date.UTC(2006, 2, 14), 0.83810], [Date.UTC(2006, 2, 15), 0.83510], 
	         [Date.UTC(2006, 2, 16), 0.83140], [Date.UTC(2006, 2, 17), 0.82730], 
	         [Date.UTC(2006, 2, 18), 0.82130], [Date.UTC(2006, 2, 19), 0.82070], 
	         [Date.UTC(2006, 2, 20), 0.82070], [Date.UTC(2006, 2, 21), 0.82150], 
	         [Date.UTC(2006, 2, 22), 0.82420], [Date.UTC(2006, 2, 23), 0.82730], 
	         [Date.UTC(2006, 2, 24), 0.83010], [Date.UTC(2006, 2, 25), 0.83460], 
	         [Date.UTC(2006, 2, 26), 0.83120], [Date.UTC(2006, 2, 27), 0.83120], 
	         [Date.UTC(2006, 2, 28), 0.83120], [Date.UTC(2006, 2, 29), 0.83060], 
	         [Date.UTC(2006, 2, 30), 0.83270], [Date.UTC(2006, 2, 31), 0.82820], 
	         [Date.UTC(2006, 3, 01), 0.8240], [Date.UTC(2006, 3, 02), 0.82550], 
	         [Date.UTC(2006, 3, 03), 0.82560], [Date.UTC(2006, 3, 04), 0.82730], 
	         [Date.UTC(2006, 3, 05), 0.82090], [Date.UTC(2006, 3, 06), 0.81510], 
	         [Date.UTC(2006, 3, 07), 0.81490], [Date.UTC(2006, 3, 8), 0.82130], 
	         [Date.UTC(2006, 3, 9), 0.82730], [Date.UTC(2006, 3, 10), 0.82730], 
	         [Date.UTC(2006, 3, 11), 0.82610], [Date.UTC(2006, 3, 12), 0.82520], 
	         [Date.UTC(2006, 3, 13), 0.8240], [Date.UTC(2006, 3, 14), 0.82620], 
	         [Date.UTC(2006, 3, 15), 0.82580], [Date.UTC(2006, 3, 16), 0.82610], 
	         [Date.UTC(2006, 3, 17), 0.8260], [Date.UTC(2006, 3, 18), 0.81990], 
	         [Date.UTC(2006, 3, 19), 0.81530], [Date.UTC(2006, 3, 20), 0.80970], 
	         [Date.UTC(2006, 3, 21), 0.81010], [Date.UTC(2006, 3, 22), 0.81190], 
	         [Date.UTC(2006, 3, 23), 0.81070], [Date.UTC(2006, 3, 24), 0.81050], 
	         [Date.UTC(2006, 3, 25), 0.80840], [Date.UTC(2006, 3, 26), 0.80690], 
	         [Date.UTC(2006, 3, 27), 0.80470], [Date.UTC(2006, 3, 28), 0.80230], 
	         [Date.UTC(2006, 3, 29), 0.79650], [Date.UTC(2006, 3, 30), 0.79190], 
	         [Date.UTC(2006, 4, 01), 0.79210], [Date.UTC(2006, 4, 02), 0.79220], 
	         [Date.UTC(2006, 4, 03), 0.79340], [Date.UTC(2006, 4, 04), 0.79180], 
	         [Date.UTC(2006, 4, 05), 0.79150], [Date.UTC(2006, 4, 06), 0.7870], 
	         [Date.UTC(2006, 4, 07), 0.78610], [Date.UTC(2006, 4, 8), 0.78610], 
	         [Date.UTC(2006, 4, 9), 0.78530], [Date.UTC(2006, 4, 10), 0.78670], 
	         [Date.UTC(2006, 4, 11), 0.78270], [Date.UTC(2006, 4, 12), 0.78340], [Date.UTC(2006, 4, 13), 0.77660], [Date.UTC(2006, 4, 14), 0.77510], [Date.UTC(2006, 4, 15), 0.77390], [Date.UTC(2006, 4, 16), 0.77670], [Date.UTC(2006, 4, 17), 0.78020], [Date.UTC(2006, 4, 18), 0.77880], [Date.UTC(2006, 4, 19), 0.78280], [Date.UTC(2006, 4, 20), 0.78160], [Date.UTC(2006, 4, 21), 0.78290], [Date.UTC(2006, 4, 22), 0.7830], [Date.UTC(2006, 4, 23), 0.78290], [Date.UTC(2006, 4, 24), 0.77810], [Date.UTC(2006, 4, 25), 0.78110], [Date.UTC(2006, 4, 26), 0.78310], [Date.UTC(2006, 4, 27), 0.78260], [Date.UTC(2006, 4, 28), 0.78550], [Date.UTC(2006, 4, 29), 0.78550], [Date.UTC(2006, 4, 30), 0.78450], [Date.UTC(2006, 4, 31), 0.77980], [Date.UTC(2006, 5, 01), 0.77770], [Date.UTC(2006, 5, 02), 0.78220], [Date.UTC(2006, 5, 03), 0.77850], [Date.UTC(2006, 5, 04), 0.77440], [Date.UTC(2006, 5, 05), 0.77430], [Date.UTC(2006, 5, 06), 0.77260], [Date.UTC(2006, 5, 07), 0.77660], [Date.UTC(2006, 5, 8), 0.78060], [Date.UTC(2006, 5, 9), 0.7850], [Date.UTC(2006, 5, 10), 0.79070], [Date.UTC(2006, 5, 11), 0.79120], [Date.UTC(2006, 5, 12), 0.79130], [Date.UTC(2006, 5, 13), 0.79310], [Date.UTC(2006, 5, 14), 0.79520], [Date.UTC(2006, 5, 15), 0.79510], [Date.UTC(2006, 5, 16), 0.79280], [Date.UTC(2006, 5, 17), 0.7910], [Date.UTC(2006, 5, 18), 0.79130], [Date.UTC(2006, 5, 19), 0.79120], [Date.UTC(2006, 5, 20), 0.79410], [Date.UTC(2006, 5, 21), 0.79530], [Date.UTC(2006, 5, 22), 0.79210], [Date.UTC(2006, 5, 23), 0.79190], [Date.UTC(2006, 5, 24), 0.79680], [Date.UTC(2006, 5, 25), 0.79990], [Date.UTC(2006, 5, 26), 0.79990], [Date.UTC(2006, 5, 27), 0.79740], [Date.UTC(2006, 5, 28), 0.79420], [Date.UTC(2006, 5, 29), 0.7960], [Date.UTC(2006, 5, 30), 0.79690], [Date.UTC(2006, 6, 01), 0.78620], [Date.UTC(2006, 6, 02), 0.78210], [Date.UTC(2006, 6, 03), 0.78210], [Date.UTC(2006, 6, 04), 0.78210], [Date.UTC(2006, 6, 05), 0.78110], [Date.UTC(2006, 6, 06), 0.78330], [Date.UTC(2006, 6, 07), 0.78490], [Date.UTC(2006, 6, 8), 0.78190], [Date.UTC(2006, 6, 9), 0.78090], [Date.UTC(2006, 6, 10), 0.78090], [Date.UTC(2006, 6, 11), 0.78270], [Date.UTC(2006, 6, 12), 0.78480], [Date.UTC(2006, 6, 13), 0.7850], [Date.UTC(2006, 6, 14), 0.78730], [Date.UTC(2006, 6, 15), 0.78940], [Date.UTC(2006, 6, 16), 0.79070], [Date.UTC(2006, 6, 17), 0.79090], [Date.UTC(2006, 6, 18), 0.79470], [Date.UTC(2006, 6, 19), 0.79870], [Date.UTC(2006, 6, 20), 0.7990], [Date.UTC(2006, 6, 21), 0.79270], [Date.UTC(2006, 6, 22), 0.790], [Date.UTC(2006, 6, 23), 0.78780], [Date.UTC(2006, 6, 24), 0.78780], [Date.UTC(2006, 6, 25), 0.79070], [Date.UTC(2006, 6, 26), 0.79220], [Date.UTC(2006, 6, 27), 0.79370], [Date.UTC(2006, 6, 28), 0.7860], [Date.UTC(2006, 6, 29), 0.7870], [Date.UTC(2006, 6, 30), 0.78380], [Date.UTC(2006, 6, 31), 0.78380], [Date.UTC(2006, 7, 01), 0.78370], [Date.UTC(2006, 7, 02), 0.78360], [Date.UTC(2006, 7, 03), 0.78060], [Date.UTC(2006, 7, 04), 0.78250], [Date.UTC(2006, 7, 05), 0.77980], [Date.UTC(2006, 7, 06), 0.7770], [Date.UTC(2006, 7, 07), 0.7770], [Date.UTC(2006, 7, 8), 0.77720], [Date.UTC(2006, 7, 9), 0.77930], [Date.UTC(2006, 7, 10), 0.77880], [Date.UTC(2006, 7, 11), 0.77850], [Date.UTC(2006, 7, 12), 0.78320], [Date.UTC(2006, 7, 13), 0.78650], [Date.UTC(2006, 7, 14), 0.78650], [Date.UTC(2006, 7, 15), 0.78530], [Date.UTC(2006, 7, 16), 0.78470], [Date.UTC(2006, 7, 17), 0.78090], [Date.UTC(2006, 7, 18), 0.7780], [Date.UTC(2006, 7, 19), 0.77990], [Date.UTC(2006, 7, 20), 0.780], [Date.UTC(2006, 7, 21), 0.78010], [Date.UTC(2006, 7, 22), 0.77650], [Date.UTC(2006, 7, 23), 0.77850], [Date.UTC(2006, 7, 24), 0.78110], [Date.UTC(2006, 7, 25), 0.7820], [Date.UTC(2006, 7, 26), 0.78350], [Date.UTC(2006, 7, 27), 0.78450], [Date.UTC(2006, 7, 28), 0.78440], [Date.UTC(2006, 7, 29), 0.7820], [Date.UTC(2006, 7, 30), 0.78110], [Date.UTC(2006, 7, 31), 0.77950], [Date.UTC(2006, 8, 01), 0.77940], [Date.UTC(2006, 8, 02), 0.78060], [Date.UTC(2006, 8, 03), 0.77940], [Date.UTC(2006, 8, 04), 0.77940], [Date.UTC(2006, 8, 05), 0.77780], [Date.UTC(2006, 8, 06), 0.77930], [Date.UTC(2006, 8, 07), 0.78080], [Date.UTC(2006, 8, 8), 0.78240], [Date.UTC(2006, 8, 9), 0.7870], [Date.UTC(2006, 8, 10), 0.78940], [Date.UTC(2006, 8, 11), 0.78930], [Date.UTC(2006, 8, 12), 0.78820], [Date.UTC(2006, 8, 13), 0.78710], [Date.UTC(2006, 8, 14), 0.78820], [Date.UTC(2006, 8, 15), 0.78710], [Date.UTC(2006, 8, 16), 0.78780], [Date.UTC(2006, 8, 17), 0.790], [Date.UTC(2006, 8, 18), 0.79010], [Date.UTC(2006, 8, 19), 0.78980], [Date.UTC(2006, 8, 20), 0.78790], [Date.UTC(2006, 8, 21), 0.78860], [Date.UTC(2006, 8, 22), 0.78580], [Date.UTC(2006, 8, 23), 0.78140], [Date.UTC(2006, 8, 24), 0.78250], [Date.UTC(2006, 8, 25), 0.78260], [Date.UTC(2006, 8, 26), 0.78260], [Date.UTC(2006, 8, 27), 0.7860], [Date.UTC(2006, 8, 28), 0.78780], [Date.UTC(2006, 8, 29), 0.78680], [Date.UTC(2006, 8, 30), 0.78830], [Date.UTC(2006, 9, 01), 0.78930], [Date.UTC(2006, 9, 02), 0.78920], [Date.UTC(2006, 9, 03), 0.78760], [Date.UTC(2006, 9, 04), 0.7850], [Date.UTC(2006, 9, 05), 0.7870], [Date.UTC(2006, 9, 06), 0.78730], [Date.UTC(2006, 9, 07), 0.79010], [Date.UTC(2006, 9, 8), 0.79360], [Date.UTC(2006, 9, 9), 0.79390], [Date.UTC(2006, 9, 10), 0.79380], [Date.UTC(2006, 9, 11), 0.79560], [Date.UTC(2006, 9, 12), 0.79750], [Date.UTC(2006, 9, 13), 0.79780], [Date.UTC(2006, 9, 14), 0.79720], [Date.UTC(2006, 9, 15), 0.79950], [Date.UTC(2006, 9, 16), 0.79950], [Date.UTC(2006, 9, 17), 0.79940], [Date.UTC(2006, 9, 18), 0.79760], [Date.UTC(2006, 9, 19), 0.79770], [Date.UTC(2006, 9, 20), 0.7960], [Date.UTC(2006, 9, 21), 0.79220], [Date.UTC(2006, 9, 22), 0.79280], [Date.UTC(2006, 9, 23), 0.79290], [Date.UTC(2006, 9, 24), 0.79480], [Date.UTC(2006, 9, 25), 0.7970], [Date.UTC(2006, 9, 26), 0.79530], [Date.UTC(2006, 9, 27), 0.79070], [Date.UTC(2006, 9, 28), 0.78720], [Date.UTC(2006, 9, 29), 0.78520], [Date.UTC(2006, 9, 30), 0.78520], [Date.UTC(2006, 9, 31), 0.7860], [Date.UTC(2006, 10, 01), 0.78620], [Date.UTC(2006, 10, 02), 0.78360], [Date.UTC(2006, 10, 03), 0.78370], [Date.UTC(2006, 10, 04), 0.7840], [Date.UTC(2006, 10, 05), 0.78670], [Date.UTC(2006, 10, 06), 0.78670], [Date.UTC(2006, 10, 07), 0.78690], [Date.UTC(2006, 10, 8), 0.78370], [Date.UTC(2006, 10, 9), 0.78270], [Date.UTC(2006, 10, 10), 0.78250], [Date.UTC(2006, 10, 11), 0.77790], [Date.UTC(2006, 10, 12), 0.77910], [Date.UTC(2006, 10, 13), 0.7790], [Date.UTC(2006, 10, 14), 0.77870], [Date.UTC(2006, 10, 15), 0.780], [Date.UTC(2006, 10, 16), 0.78070], [Date.UTC(2006, 10, 17), 0.78030], [Date.UTC(2006, 10, 18), 0.78170], [Date.UTC(2006, 10, 19), 0.77990], [Date.UTC(2006, 10, 20), 0.77990], [Date.UTC(2006, 10, 21), 0.77950], [Date.UTC(2006, 10, 22), 0.78010], [Date.UTC(2006, 10, 23), 0.77650], [Date.UTC(2006, 10, 24), 0.77250], [Date.UTC(2006, 10, 25), 0.76830], [Date.UTC(2006, 10, 26), 0.76410], [Date.UTC(2006, 10, 27), 0.76390], [Date.UTC(2006, 10, 28), 0.76160], [Date.UTC(2006, 10, 29), 0.76080], [Date.UTC(2006, 10, 30), 0.7590], [Date.UTC(2006, 11, 01), 0.75820], [Date.UTC(2006, 11, 02), 0.75390], [Date.UTC(2006, 11, 03), 0.750], [Date.UTC(2006, 11, 04), 0.750], [Date.UTC(2006, 11, 05), 0.75070], [Date.UTC(2006, 11, 06), 0.75050], [Date.UTC(2006, 11, 07), 0.75160], [Date.UTC(2006, 11, 8), 0.75220], [Date.UTC(2006, 11, 9), 0.75310], [Date.UTC(2006, 11, 10), 0.75770], [Date.UTC(2006, 11, 11), 0.75770], [Date.UTC(2006, 11, 12), 0.75820], [Date.UTC(2006, 11, 13), 0.7550], [Date.UTC(2006, 11, 14), 0.75420], [Date.UTC(2006, 11, 15), 0.75760], [Date.UTC(2006, 11, 16), 0.76160], [Date.UTC(2006, 11, 17), 0.76480], [Date.UTC(2006, 11, 18), 0.76480], [Date.UTC(2006, 11, 19), 0.76410], [Date.UTC(2006, 11, 20), 0.76140], [Date.UTC(2006, 11, 21), 0.7570], [Date.UTC(2006, 11, 22), 0.75870], [Date.UTC(2006, 11, 23), 0.75880], [Date.UTC(2006, 11, 24), 0.7620], [Date.UTC(2006, 11, 25), 0.7620], [Date.UTC(2006, 11, 26), 0.76170], [Date.UTC(2006, 11, 27), 0.76180], [Date.UTC(2006, 11, 28), 0.76150], [Date.UTC(2006, 11, 29), 0.76120], [Date.UTC(2006, 11, 30), 0.75960], [Date.UTC(2006, 11, 31), 0.7580], [Date.UTC(2007, 0, 01), 0.7580], [Date.UTC(2007, 0, 02), 0.7580], [Date.UTC(2007, 0, 03), 0.75470], [Date.UTC(2007, 0, 04), 0.75490], [Date.UTC(2007, 0, 05), 0.76130], [Date.UTC(2007, 0, 06), 0.76550], [Date.UTC(2007, 0, 07), 0.76930], [Date.UTC(2007, 0, 8), 0.76940], [Date.UTC(2007, 0, 9), 0.76880], [Date.UTC(2007, 0, 10), 0.76780], [Date.UTC(2007, 0, 11), 0.77080], [Date.UTC(2007, 0, 12), 0.77270], [Date.UTC(2007, 0, 13), 0.77490], [Date.UTC(2007, 0, 14), 0.77410], [Date.UTC(2007, 0, 15), 0.77410], [Date.UTC(2007, 0, 16), 0.77320], [Date.UTC(2007, 0, 17), 0.77270], [Date.UTC(2007, 0, 18), 0.77370], [Date.UTC(2007, 0, 19), 0.77240], [Date.UTC(2007, 0, 20), 0.77120], [Date.UTC(2007, 0, 21), 0.7720], [Date.UTC(2007, 0, 22), 0.77210], [Date.UTC(2007, 0, 23), 0.77170], [Date.UTC(2007, 0, 24), 0.77040], [Date.UTC(2007, 0, 25), 0.7690], [Date.UTC(2007, 0, 26), 0.77110], [Date.UTC(2007, 0, 27), 0.7740], [Date.UTC(2007, 0, 28), 0.77450], [Date.UTC(2007, 0, 29), 0.77450], [Date.UTC(2007, 0, 30), 0.7740], [Date.UTC(2007, 0, 31), 0.77160], [Date.UTC(2007, 1, 01), 0.77130], [Date.UTC(2007, 1, 02), 0.76780], [Date.UTC(2007, 1, 03), 0.76880], [Date.UTC(2007, 1, 04), 0.77180], [Date.UTC(2007, 1, 05), 0.77180], [Date.UTC(2007, 1, 06), 0.77280], [Date.UTC(2007, 1, 07), 0.77290], [Date.UTC(2007, 1, 8), 0.76980], [Date.UTC(2007, 1, 9), 0.76850], [Date.UTC(2007, 1, 10), 0.76810], [Date.UTC(2007, 1, 11), 0.7690], [Date.UTC(2007, 1, 12), 0.7690], [Date.UTC(2007, 1, 13), 0.76980], [Date.UTC(2007, 1, 14), 0.76990], [Date.UTC(2007, 1, 15), 0.76510], [Date.UTC(2007, 1, 16), 0.76130], [Date.UTC(2007, 1, 17), 0.76160], [Date.UTC(2007, 1, 18), 0.76140], [Date.UTC(2007, 1, 19), 0.76140], [Date.UTC(2007, 1, 20), 0.76070], [Date.UTC(2007, 1, 21), 0.76020], [Date.UTC(2007, 1, 22), 0.76110], [Date.UTC(2007, 1, 23), 0.76220], [Date.UTC(2007, 1, 24), 0.76150], [Date.UTC(2007, 1, 25), 0.75980], [Date.UTC(2007, 1, 26), 0.75980], [Date.UTC(2007, 1, 27), 0.75920], [Date.UTC(2007, 1, 28), 0.75730], [Date.UTC(2007, 2, 01), 0.75660], [Date.UTC(2007, 2, 02), 0.75670], [Date.UTC(2007, 2, 03), 0.75910], [Date.UTC(2007, 2, 04), 0.75820], [Date.UTC(2007, 2, 05), 0.75850], [Date.UTC(2007, 2, 06), 0.76130], [Date.UTC(2007, 2, 07), 0.76310], [Date.UTC(2007, 2, 8), 0.76150], [Date.UTC(2007, 2, 9), 0.760], [Date.UTC(2007, 2, 10), 0.76130], [Date.UTC(2007, 2, 11), 0.76270], [Date.UTC(2007, 2, 12), 0.76270], [Date.UTC(2007, 2, 13), 0.76080], [Date.UTC(2007, 2, 14), 0.75830], [Date.UTC(2007, 2, 15), 0.75750], [Date.UTC(2007, 2, 16), 0.75620], [Date.UTC(2007, 2, 17), 0.7520], [Date.UTC(2007, 2, 18), 0.75120], [Date.UTC(2007, 2, 19), 0.75120], [Date.UTC(2007, 2, 20), 0.75170], [Date.UTC(2007, 2, 21), 0.7520], [Date.UTC(2007, 2, 22), 0.75110], [Date.UTC(2007, 2, 23), 0.7480], [Date.UTC(2007, 2, 24), 0.75090], [Date.UTC(2007, 2, 25), 0.75310], [Date.UTC(2007, 2, 26), 0.75310], [Date.UTC(2007, 2, 27), 0.75270], [Date.UTC(2007, 2, 28), 0.74980], [Date.UTC(2007, 2, 29), 0.74930], [Date.UTC(2007, 2, 30), 0.75040], [Date.UTC(2007, 2, 31), 0.750], [Date.UTC(2007, 3, 01), 0.74910], [Date.UTC(2007, 3, 02), 0.74910], [Date.UTC(2007, 3, 03), 0.74850], [Date.UTC(2007, 3, 04), 0.74840], [Date.UTC(2007, 3, 05), 0.74920], [Date.UTC(2007, 3, 06), 0.74710], [Date.UTC(2007, 3, 07), 0.74590], [Date.UTC(2007, 3, 8), 0.74770], [Date.UTC(2007, 3, 9), 0.74770], [Date.UTC(2007, 3, 10), 0.74830], [Date.UTC(2007, 3, 11), 0.74580], [Date.UTC(2007, 3, 12), 0.74480], [Date.UTC(2007, 3, 13), 0.7430], [Date.UTC(2007, 3, 14), 0.73990], [Date.UTC(2007, 3, 15), 0.73950], [Date.UTC(2007, 3, 16), 0.73950], [Date.UTC(2007, 3, 17), 0.73780], [Date.UTC(2007, 3, 18), 0.73820], [Date.UTC(2007, 3, 19), 0.73620], [Date.UTC(2007, 3, 20), 0.73550], [Date.UTC(2007, 3, 21), 0.73480], [Date.UTC(2007, 3, 22), 0.73610], [Date.UTC(2007, 3, 23), 0.73610], [Date.UTC(2007, 3, 24), 0.73650], [Date.UTC(2007, 3, 25), 0.73620], [Date.UTC(2007, 3, 26), 0.73310], [Date.UTC(2007, 3, 27), 0.73390], [Date.UTC(2007, 3, 28), 0.73440], [Date.UTC(2007, 3, 29), 0.73270], [Date.UTC(2007, 3, 30), 0.73270], [Date.UTC(2007, 4, 01), 0.73360], [Date.UTC(2007, 4, 02), 0.73330], [Date.UTC(2007, 4, 03), 0.73590], [Date.UTC(2007, 4, 04), 0.73590], [Date.UTC(2007, 4, 05), 0.73720], [Date.UTC(2007, 4, 06), 0.7360], [Date.UTC(2007, 4, 07), 0.7360], [Date.UTC(2007, 4, 8), 0.7350], [Date.UTC(2007, 4, 9), 0.73650], [Date.UTC(2007, 4, 10), 0.73840], [Date.UTC(2007, 4, 11), 0.73950], [Date.UTC(2007, 4, 12), 0.74130], [Date.UTC(2007, 4, 13), 0.73970], [Date.UTC(2007, 4, 14), 0.73960], [Date.UTC(2007, 4, 15), 0.73850], [Date.UTC(2007, 4, 16), 0.73780], [Date.UTC(2007, 4, 17), 0.73660], [Date.UTC(2007, 4, 18), 0.740], [Date.UTC(2007, 4, 19), 0.74110], [Date.UTC(2007, 4, 20), 0.74060], [Date.UTC(2007, 4, 21), 0.74050], [Date.UTC(2007, 4, 22), 0.74140], [Date.UTC(2007, 4, 23), 0.74310], [Date.UTC(2007, 4, 24), 0.74310], [Date.UTC(2007, 4, 25), 0.74380], [Date.UTC(2007, 4, 26), 0.74430], [Date.UTC(2007, 4, 27), 0.74430], [Date.UTC(2007, 4, 28), 0.74430], [Date.UTC(2007, 4, 29), 0.74340], [Date.UTC(2007, 4, 30), 0.74290], [Date.UTC(2007, 4, 31), 0.74420], [Date.UTC(2007, 5, 01), 0.7440], [Date.UTC(2007, 5, 02), 0.74390], [Date.UTC(2007, 5, 03), 0.74370], [Date.UTC(2007, 5, 04), 0.74370], [Date.UTC(2007, 5, 05), 0.74290], [Date.UTC(2007, 5, 06), 0.74030], [Date.UTC(2007, 5, 07), 0.73990], [Date.UTC(2007, 5, 8), 0.74180], [Date.UTC(2007, 5, 9), 0.74680], [Date.UTC(2007, 5, 10), 0.7480], [Date.UTC(2007, 5, 11), 0.7480], [Date.UTC(2007, 5, 12), 0.7490], [Date.UTC(2007, 5, 13), 0.74940], [Date.UTC(2007, 5, 14), 0.75220], [Date.UTC(2007, 5, 15), 0.75150], [Date.UTC(2007, 5, 16), 0.75020], [Date.UTC(2007, 5, 17), 0.74720], [Date.UTC(2007, 5, 18), 0.74720], [Date.UTC(2007, 5, 19), 0.74620], [Date.UTC(2007, 5, 20), 0.74550], [Date.UTC(2007, 5, 21), 0.74490], [Date.UTC(2007, 5, 22), 0.74670], [Date.UTC(2007, 5, 23), 0.74580], [Date.UTC(2007, 5, 24), 0.74270], [Date.UTC(2007, 5, 25), 0.74270], [Date.UTC(2007, 5, 26), 0.7430], [Date.UTC(2007, 5, 27), 0.74290], [Date.UTC(2007, 5, 28), 0.7440], [Date.UTC(2007, 5, 29), 0.7430], [Date.UTC(2007, 5, 30), 0.74220], [Date.UTC(2007, 6, 01), 0.73880], [Date.UTC(2007, 6, 02), 0.73880], [Date.UTC(2007, 6, 03), 0.73690], [Date.UTC(2007, 6, 04), 0.73450], [Date.UTC(2007, 6, 05), 0.73450], [Date.UTC(2007, 6, 06), 0.73450], [Date.UTC(2007, 6, 07), 0.73520], [Date.UTC(2007, 6, 8), 0.73410], [Date.UTC(2007, 6, 9), 0.73410], [Date.UTC(2007, 6, 10), 0.7340], [Date.UTC(2007, 6, 11), 0.73240], [Date.UTC(2007, 6, 12), 0.72720], [Date.UTC(2007, 6, 13), 0.72640], [Date.UTC(2007, 6, 14), 0.72550], [Date.UTC(2007, 6, 15), 0.72580], [Date.UTC(2007, 6, 16), 0.72580], [Date.UTC(2007, 6, 17), 0.72560], [Date.UTC(2007, 6, 18), 0.72570], [Date.UTC(2007, 6, 19), 0.72470], [Date.UTC(2007, 6, 20), 0.72430], [Date.UTC(2007, 6, 21), 0.72440], [Date.UTC(2007, 6, 22), 0.72350], [Date.UTC(2007, 6, 23), 0.72350], [Date.UTC(2007, 6, 24), 0.72350], [Date.UTC(2007, 6, 25), 0.72350], [Date.UTC(2007, 6, 26), 0.72620], [Date.UTC(2007, 6, 27), 0.72880], [Date.UTC(2007, 6, 28), 0.73010], [Date.UTC(2007, 6, 29), 0.73370], [Date.UTC(2007, 6, 30), 0.73370], [Date.UTC(2007, 6, 31), 0.73240], [Date.UTC(2007, 7, 01), 0.72970], [Date.UTC(2007, 7, 02), 0.73170], [Date.UTC(2007, 7, 03), 0.73150], [Date.UTC(2007, 7, 04), 0.72880], [Date.UTC(2007, 7, 05), 0.72630], [Date.UTC(2007, 7, 06), 0.72630], [Date.UTC(2007, 7, 07), 0.72420], [Date.UTC(2007, 7, 8), 0.72530], [Date.UTC(2007, 7, 9), 0.72640], [Date.UTC(2007, 7, 10), 0.7270], [Date.UTC(2007, 7, 11), 0.73120], [Date.UTC(2007, 7, 12), 0.73050], [Date.UTC(2007, 7, 13), 0.73050], [Date.UTC(2007, 7, 14), 0.73180], [Date.UTC(2007, 7, 15), 0.73580], [Date.UTC(2007, 7, 16), 0.74090], [Date.UTC(2007, 7, 17), 0.74540], [Date.UTC(2007, 7, 18), 0.74370], [Date.UTC(2007, 7, 19), 0.74240], [Date.UTC(2007, 7, 20), 0.74240], [Date.UTC(2007, 7, 21), 0.74150], [Date.UTC(2007, 7, 22), 0.74190], [Date.UTC(2007, 7, 23), 0.74140], [Date.UTC(2007, 7, 24), 0.73770], [Date.UTC(2007, 7, 25), 0.73550], [Date.UTC(2007, 7, 26), 0.73150], [Date.UTC(2007, 7, 27), 0.73150], [Date.UTC(2007, 7, 28), 0.7320], [Date.UTC(2007, 7, 29), 0.73320], [Date.UTC(2007, 7, 30), 0.73460], [Date.UTC(2007, 7, 31), 0.73280], [Date.UTC(2007, 8, 01), 0.73230], [Date.UTC(2007, 8, 02), 0.7340], [Date.UTC(2007, 8, 03), 0.7340], [Date.UTC(2007, 8, 04), 0.73360], [Date.UTC(2007, 8, 05), 0.73510], [Date.UTC(2007, 8, 06), 0.73460], [Date.UTC(2007, 8, 07), 0.73210], [Date.UTC(2007, 8, 8), 0.72940], [Date.UTC(2007, 8, 9), 0.72660], [Date.UTC(2007, 8, 10), 0.72660], [Date.UTC(2007, 8, 11), 0.72540], [Date.UTC(2007, 8, 12), 0.72420], [Date.UTC(2007, 8, 13), 0.72130], [Date.UTC(2007, 8, 14), 0.71970], [Date.UTC(2007, 8, 15), 0.72090], [Date.UTC(2007, 8, 16), 0.7210], [Date.UTC(2007, 8, 17), 0.7210], [Date.UTC(2007, 8, 18), 0.7210], [Date.UTC(2007, 8, 19), 0.72090], [Date.UTC(2007, 8, 20), 0.71590], [Date.UTC(2007, 8, 21), 0.71330], [Date.UTC(2007, 8, 22), 0.71050], [Date.UTC(2007, 8, 23), 0.70990], [Date.UTC(2007, 8, 24), 0.70990], [Date.UTC(2007, 8, 25), 0.70930], [Date.UTC(2007, 8, 26), 0.70930], [Date.UTC(2007, 8, 27), 0.70760], [Date.UTC(2007, 8, 28), 0.7070], [Date.UTC(2007, 8, 29), 0.70490], [Date.UTC(2007, 8, 30), 0.70120], [Date.UTC(2007, 9, 01), 0.70110], [Date.UTC(2007, 9, 02), 0.70190], [Date.UTC(2007, 9, 03), 0.70460], [Date.UTC(2007, 9, 04), 0.70630], [Date.UTC(2007, 9, 05), 0.70890], [Date.UTC(2007, 9, 06), 0.70770], [Date.UTC(2007, 9, 07), 0.70770], [Date.UTC(2007, 9, 8), 0.70770], [Date.UTC(2007, 9, 9), 0.70910], [Date.UTC(2007, 9, 10), 0.71180], [Date.UTC(2007, 9, 11), 0.70790], [Date.UTC(2007, 9, 12), 0.70530], [Date.UTC(2007, 9, 13), 0.7050], [Date.UTC(2007, 9, 14), 0.70550], [Date.UTC(2007, 9, 15), 0.70550], [Date.UTC(2007, 9, 16), 0.70450], [Date.UTC(2007, 9, 17), 0.70510], [Date.UTC(2007, 9, 18), 0.70510], [Date.UTC(2007, 9, 19), 0.70170], [Date.UTC(2007, 9, 20), 0.70], [Date.UTC(2007, 9, 21), 0.69950], [Date.UTC(2007, 9, 22), 0.69940], [Date.UTC(2007, 9, 23), 0.70140], [Date.UTC(2007, 9, 24), 0.70360], [Date.UTC(2007, 9, 25), 0.70210], [Date.UTC(2007, 9, 26), 0.70020], [Date.UTC(2007, 9, 27), 0.69670], [Date.UTC(2007, 9, 28), 0.6950], [Date.UTC(2007, 9, 29), 0.6950], [Date.UTC(2007, 9, 30), 0.69390], [Date.UTC(2007, 9, 31), 0.6940], [Date.UTC(2007, 10, 01), 0.69220], [Date.UTC(2007, 10, 02), 0.69190], [Date.UTC(2007, 10, 03), 0.69140], [Date.UTC(2007, 10, 04), 0.68940], [Date.UTC(2007, 10, 05), 0.68910], [Date.UTC(2007, 10, 06), 0.69040], [Date.UTC(2007, 10, 07), 0.6890], [Date.UTC(2007, 10, 8), 0.68340], [Date.UTC(2007, 10, 9), 0.68230], [Date.UTC(2007, 10, 10), 0.68070], [Date.UTC(2007, 10, 11), 0.68150], [Date.UTC(2007, 10, 12), 0.68150], [Date.UTC(2007, 10, 13), 0.68470], [Date.UTC(2007, 10, 14), 0.68590], [Date.UTC(2007, 10, 15), 0.68220], [Date.UTC(2007, 10, 16), 0.68270], [Date.UTC(2007, 10, 17), 0.68370], [Date.UTC(2007, 10, 18), 0.68230], [Date.UTC(2007, 10, 19), 0.68220], [Date.UTC(2007, 10, 20), 0.68220], [Date.UTC(2007, 10, 21), 0.67920], [Date.UTC(2007, 10, 22), 0.67460], [Date.UTC(2007, 10, 23), 0.67350], [Date.UTC(2007, 10, 24), 0.67310], [Date.UTC(2007, 10, 25), 0.67420], [Date.UTC(2007, 10, 26), 0.67440], [Date.UTC(2007, 10, 27), 0.67390], [Date.UTC(2007, 10, 28), 0.67310], [Date.UTC(2007, 10, 29), 0.67610], [Date.UTC(2007, 10, 30), 0.67610], [Date.UTC(2007, 11, 01), 0.67850], [Date.UTC(2007, 11, 02), 0.68180], [Date.UTC(2007, 11, 03), 0.68360], [Date.UTC(2007, 11, 04), 0.68230], [Date.UTC(2007, 11, 05), 0.68050], [Date.UTC(2007, 11, 06), 0.67930], [Date.UTC(2007, 11, 07), 0.68490], [Date.UTC(2007, 11, 8), 0.68330], [Date.UTC(2007, 11, 9), 0.68250], [Date.UTC(2007, 11, 10), 0.68250], [Date.UTC(2007, 11, 11), 0.68160], [Date.UTC(2007, 11, 12), 0.67990], [Date.UTC(2007, 11, 13), 0.68130], [Date.UTC(2007, 11, 14), 0.68090], [Date.UTC(2007, 11, 15), 0.68680], [Date.UTC(2007, 11, 16), 0.69330], [Date.UTC(2007, 11, 17), 0.69330], [Date.UTC(2007, 11, 18), 0.69450], [Date.UTC(2007, 11, 19), 0.69440], [Date.UTC(2007, 11, 20), 0.69460], [Date.UTC(2007, 11, 21), 0.69640], [Date.UTC(2007, 11, 22), 0.69650], [Date.UTC(2007, 11, 23), 0.69560], [Date.UTC(2007, 11, 24), 0.69560], [Date.UTC(2007, 11, 25), 0.6950], [Date.UTC(2007, 11, 26), 0.69480], [Date.UTC(2007, 11, 27), 0.69280], [Date.UTC(2007, 11, 28), 0.68870], [Date.UTC(2007, 11, 29), 0.68240], [Date.UTC(2007, 11, 30), 0.67940], [Date.UTC(2007, 11, 31), 0.67940], [Date.UTC(2008, 0, 01), 0.68030], [Date.UTC(2008, 0, 02), 0.68550], [Date.UTC(2008, 0, 03), 0.68240], [Date.UTC(2008, 0, 04), 0.67910], [Date.UTC(2008, 0, 05), 0.67830], [Date.UTC(2008, 0, 06), 0.67850], [Date.UTC(2008, 0, 07), 0.67850], [Date.UTC(2008, 0, 8), 0.67970], [Date.UTC(2008, 0, 9), 0.680], [Date.UTC(2008, 0, 10), 0.68030], [Date.UTC(2008, 0, 11), 0.68050], [Date.UTC(2008, 0, 12), 0.6760], [Date.UTC(2008, 0, 13), 0.6770], [Date.UTC(2008, 0, 14), 0.6770], [Date.UTC(2008, 0, 15), 0.67360], [Date.UTC(2008, 0, 16), 0.67260], [Date.UTC(2008, 0, 17), 0.67640], [Date.UTC(2008, 0, 18), 0.68210], [Date.UTC(2008, 0, 19), 0.68310], [Date.UTC(2008, 0, 20), 0.68420], [Date.UTC(2008, 0, 21), 0.68420], [Date.UTC(2008, 0, 22), 0.68870], [Date.UTC(2008, 0, 23), 0.69030], [Date.UTC(2008, 0, 24), 0.68480], [Date.UTC(2008, 0, 25), 0.68240], [Date.UTC(2008, 0, 26), 0.67880], [Date.UTC(2008, 0, 27), 0.68140], [Date.UTC(2008, 0, 28), 0.68140], [Date.UTC(2008, 0, 29), 0.67970], [Date.UTC(2008, 0, 30), 0.67690], [Date.UTC(2008, 0, 31), 0.67650], [Date.UTC(2008, 1, 01), 0.67330], [Date.UTC(2008, 1, 02), 0.67290], [Date.UTC(2008, 1, 03), 0.67580], [Date.UTC(2008, 1, 04), 0.67580], [Date.UTC(2008, 1, 05), 0.6750], [Date.UTC(2008, 1, 06), 0.6780], [Date.UTC(2008, 1, 07), 0.68330], [Date.UTC(2008, 1, 8), 0.68560], [Date.UTC(2008, 1, 9), 0.69030], [Date.UTC(2008, 1, 10), 0.68960], [Date.UTC(2008, 1, 11), 0.68960], [Date.UTC(2008, 1, 12), 0.68820], [Date.UTC(2008, 1, 13), 0.68790], [Date.UTC(2008, 1, 14), 0.68620], [Date.UTC(2008, 1, 15), 0.68520], [Date.UTC(2008, 1, 16), 0.68230], [Date.UTC(2008, 1, 17), 0.68130], [Date.UTC(2008, 1, 18), 0.68130], [Date.UTC(2008, 1, 19), 0.68220], [Date.UTC(2008, 1, 20), 0.68020], [Date.UTC(2008, 1, 21), 0.68020], [Date.UTC(2008, 1, 22), 0.67840], [Date.UTC(2008, 1, 23), 0.67480], [Date.UTC(2008, 1, 24), 0.67470], [Date.UTC(2008, 1, 25), 0.67470], [Date.UTC(2008, 1, 26), 0.67480], [Date.UTC(2008, 1, 27), 0.67330], [Date.UTC(2008, 1, 28), 0.6650], [Date.UTC(2008, 1, 29), 0.66110], [Date.UTC(2008, 2, 01), 0.65830], [Date.UTC(2008, 2, 02), 0.6590], [Date.UTC(2008, 2, 03), 0.6590], [Date.UTC(2008, 2, 04), 0.65810], [Date.UTC(2008, 2, 05), 0.65780], [Date.UTC(2008, 2, 06), 0.65740], [Date.UTC(2008, 2, 07), 0.65320], [Date.UTC(2008, 2, 8), 0.65020], [Date.UTC(2008, 2, 9), 0.65140], [Date.UTC(2008, 2, 10), 0.65140], [Date.UTC(2008, 2, 11), 0.65070], [Date.UTC(2008, 2, 12), 0.6510], [Date.UTC(2008, 2, 13), 0.64890], [Date.UTC(2008, 2, 14), 0.64240], [Date.UTC(2008, 2, 15), 0.64060], [Date.UTC(2008, 2, 16), 0.63820], [Date.UTC(2008, 2, 17), 0.63820], [Date.UTC(2008, 2, 18), 0.63410], [Date.UTC(2008, 2, 19), 0.63440], [Date.UTC(2008, 2, 20), 0.63780], [Date.UTC(2008, 2, 21), 0.64390], [Date.UTC(2008, 2, 22), 0.64780], [Date.UTC(2008, 2, 23), 0.64810], [Date.UTC(2008, 2, 24), 0.64810], [Date.UTC(2008, 2, 25), 0.64940], [Date.UTC(2008, 2, 26), 0.64380], [Date.UTC(2008, 2, 27), 0.63770], [Date.UTC(2008, 2, 28), 0.63290], [Date.UTC(2008, 2, 29), 0.63360], [Date.UTC(2008, 2, 30), 0.63330], [Date.UTC(2008, 2, 31), 0.63330], [Date.UTC(2008, 3, 01), 0.6330], [Date.UTC(2008, 3, 02), 0.63710], [Date.UTC(2008, 3, 03), 0.64030], [Date.UTC(2008, 3, 04), 0.63960], [Date.UTC(2008, 3, 05), 0.63640], [Date.UTC(2008, 3, 06), 0.63560], [Date.UTC(2008, 3, 07), 0.63560], [Date.UTC(2008, 3, 8), 0.63680], [Date.UTC(2008, 3, 9), 0.63570], [Date.UTC(2008, 3, 10), 0.63540], [Date.UTC(2008, 3, 11), 0.6320], [Date.UTC(2008, 3, 12), 0.63320], [Date.UTC(2008, 3, 13), 0.63280], [Date.UTC(2008, 3, 14), 0.63310], [Date.UTC(2008, 3, 15), 0.63420], [Date.UTC(2008, 3, 16), 0.63210], [Date.UTC(2008, 3, 17), 0.63020], [Date.UTC(2008, 3, 18), 0.62780], [Date.UTC(2008, 3, 19), 0.63080], [Date.UTC(2008, 3, 20), 0.63240], [Date.UTC(2008, 3, 21), 0.63240], [Date.UTC(2008, 3, 22), 0.63070], [Date.UTC(2008, 3, 23), 0.62770], [Date.UTC(2008, 3, 24), 0.62690], [Date.UTC(2008, 3, 25), 0.63350], [Date.UTC(2008, 3, 26), 0.63920], [Date.UTC(2008, 3, 27), 0.640], [Date.UTC(2008, 3, 28), 0.64010], [Date.UTC(2008, 3, 29), 0.63960], [Date.UTC(2008, 3, 30), 0.64070], [Date.UTC(2008, 4, 01), 0.64230], [Date.UTC(2008, 4, 02), 0.64290], [Date.UTC(2008, 4, 03), 0.64720], [Date.UTC(2008, 4, 04), 0.64850], [Date.UTC(2008, 4, 05), 0.64860], [Date.UTC(2008, 4, 06), 0.64670], [Date.UTC(2008, 4, 07), 0.64440], [Date.UTC(2008, 4, 8), 0.64670], [Date.UTC(2008, 4, 9), 0.65090], [Date.UTC(2008, 4, 10), 0.64780], [Date.UTC(2008, 4, 11), 0.64610], [Date.UTC(2008, 4, 12), 0.64610], [Date.UTC(2008, 4, 13), 0.64680], [Date.UTC(2008, 4, 14), 0.64490], [Date.UTC(2008, 4, 15), 0.6470], [Date.UTC(2008, 4, 16), 0.64610], [Date.UTC(2008, 4, 17), 0.64520], [Date.UTC(2008, 4, 18), 0.64220], [Date.UTC(2008, 4, 19), 0.64220], [Date.UTC(2008, 4, 20), 0.64250], [Date.UTC(2008, 4, 21), 0.64140], [Date.UTC(2008, 4, 22), 0.63660], [Date.UTC(2008, 4, 23), 0.63460], [Date.UTC(2008, 4, 24), 0.6350], [Date.UTC(2008, 4, 25), 0.63460], [Date.UTC(2008, 4, 26), 0.63460], [Date.UTC(2008, 4, 27), 0.63430], [Date.UTC(2008, 4, 28), 0.63460], [Date.UTC(2008, 4, 29), 0.63790], [Date.UTC(2008, 4, 30), 0.64160], [Date.UTC(2008, 4, 31), 0.64420], [Date.UTC(2008, 5, 01), 0.64310], [Date.UTC(2008, 5, 02), 0.64310], [Date.UTC(2008, 5, 03), 0.64350], [Date.UTC(2008, 5, 04), 0.6440], [Date.UTC(2008, 5, 05), 0.64730], [Date.UTC(2008, 5, 06), 0.64690], [Date.UTC(2008, 5, 07), 0.63860], [Date.UTC(2008, 5, 8), 0.63560], [Date.UTC(2008, 5, 9), 0.6340], [Date.UTC(2008, 5, 10), 0.63460], [Date.UTC(2008, 5, 11), 0.6430], [Date.UTC(2008, 5, 12), 0.64520], [Date.UTC(2008, 5, 13), 0.64670], [Date.UTC(2008, 5, 14), 0.65060], [Date.UTC(2008, 5, 15), 0.65040], [Date.UTC(2008, 5, 16), 0.65030], [Date.UTC(2008, 5, 17), 0.64810], [Date.UTC(2008, 5, 18), 0.64510], [Date.UTC(2008, 5, 19), 0.6450], [Date.UTC(2008, 5, 20), 0.64410], [Date.UTC(2008, 5, 21), 0.64140], [Date.UTC(2008, 5, 22), 0.64090], [Date.UTC(2008, 5, 23), 0.64090], [Date.UTC(2008, 5, 24), 0.64280], [Date.UTC(2008, 5, 25), 0.64310], [Date.UTC(2008, 5, 26), 0.64180], [Date.UTC(2008, 5, 27), 0.63710], [Date.UTC(2008, 5, 28), 0.63490], [Date.UTC(2008, 5, 29), 0.63330], [Date.UTC(2008, 5, 30), 0.63340], [Date.UTC(2008, 6, 01), 0.63380], [Date.UTC(2008, 6, 02), 0.63420], [Date.UTC(2008, 6, 03), 0.6320], [Date.UTC(2008, 6, 04), 0.63180], [Date.UTC(2008, 6, 05), 0.6370], [Date.UTC(2008, 6, 06), 0.63680], [Date.UTC(2008, 6, 07), 0.63680], [Date.UTC(2008, 6, 8), 0.63830], [Date.UTC(2008, 6, 9), 0.63710], [Date.UTC(2008, 6, 10), 0.63710], [Date.UTC(2008, 6, 11), 0.63550], [Date.UTC(2008, 6, 12), 0.6320], [Date.UTC(2008, 6, 13), 0.62770], [Date.UTC(2008, 6, 14), 0.62760], [Date.UTC(2008, 6, 15), 0.62910], [Date.UTC(2008, 6, 16), 0.62740], [Date.UTC(2008, 6, 17), 0.62930], [Date.UTC(2008, 6, 18), 0.63110], [Date.UTC(2008, 6, 19), 0.6310], [Date.UTC(2008, 6, 20), 0.63120], [Date.UTC(2008, 6, 21), 0.63120], [Date.UTC(2008, 6, 22), 0.63040], [Date.UTC(2008, 6, 23), 0.62940], [Date.UTC(2008, 6, 24), 0.63480], [Date.UTC(2008, 6, 25), 0.63780], [Date.UTC(2008, 6, 26), 0.63680], [Date.UTC(2008, 6, 27), 0.63680], [Date.UTC(2008, 6, 28), 0.63680], [Date.UTC(2008, 6, 29), 0.6360], [Date.UTC(2008, 6, 30), 0.6370], [Date.UTC(2008, 6, 31), 0.64180], [Date.UTC(2008, 7, 01), 0.64110], [Date.UTC(2008, 7, 02), 0.64350], [Date.UTC(2008, 7, 03), 0.64270], [Date.UTC(2008, 7, 04), 0.64270], [Date.UTC(2008, 7, 05), 0.64190], [Date.UTC(2008, 7, 06), 0.64460], [Date.UTC(2008, 7, 07), 0.64680], [Date.UTC(2008, 7, 8), 0.64870], [Date.UTC(2008, 7, 9), 0.65940], [Date.UTC(2008, 7, 10), 0.66660], [Date.UTC(2008, 7, 11), 0.66660], [Date.UTC(2008, 7, 12), 0.66780], [Date.UTC(2008, 7, 13), 0.67120], [Date.UTC(2008, 7, 14), 0.67050], [Date.UTC(2008, 7, 15), 0.67180], [Date.UTC(2008, 7, 16), 0.67840], [Date.UTC(2008, 7, 17), 0.68110], [Date.UTC(2008, 7, 18), 0.68110], [Date.UTC(2008, 7, 19), 0.67940], [Date.UTC(2008, 7, 20), 0.68040], [Date.UTC(2008, 7, 21), 0.67810], [Date.UTC(2008, 7, 22), 0.67560], [Date.UTC(2008, 7, 23), 0.67350], [Date.UTC(2008, 7, 24), 0.67630], [Date.UTC(2008, 7, 25), 0.67620], [Date.UTC(2008, 7, 26), 0.67770], [Date.UTC(2008, 7, 27), 0.68150], [Date.UTC(2008, 7, 28), 0.68020], [Date.UTC(2008, 7, 29), 0.6780], [Date.UTC(2008, 7, 30), 0.67960], [Date.UTC(2008, 7, 31), 0.68170], [Date.UTC(2008, 8, 01), 0.68170], [Date.UTC(2008, 8, 02), 0.68320], [Date.UTC(2008, 8, 03), 0.68770], [Date.UTC(2008, 8, 04), 0.69120], [Date.UTC(2008, 8, 05), 0.69140], [Date.UTC(2008, 8, 06), 0.70090], [Date.UTC(2008, 8, 07), 0.70120], [Date.UTC(2008, 8, 8), 0.7010], [Date.UTC(2008, 8, 9), 0.70050], [Date.UTC(2008, 8, 10), 0.70760], [Date.UTC(2008, 8, 11), 0.70870], [Date.UTC(2008, 8, 12), 0.7170], [Date.UTC(2008, 8, 13), 0.71050], [Date.UTC(2008, 8, 14), 0.70310], [Date.UTC(2008, 8, 15), 0.70290], [Date.UTC(2008, 8, 16), 0.70060], [Date.UTC(2008, 8, 17), 0.70350], [Date.UTC(2008, 8, 18), 0.70450], [Date.UTC(2008, 8, 19), 0.69560], [Date.UTC(2008, 8, 20), 0.69880], [Date.UTC(2008, 8, 21), 0.69150], [Date.UTC(2008, 8, 22), 0.69140], [Date.UTC(2008, 8, 23), 0.68590], [Date.UTC(2008, 8, 24), 0.67780], [Date.UTC(2008, 8, 25), 0.68150], [Date.UTC(2008, 8, 26), 0.68150], [Date.UTC(2008, 8, 27), 0.68430], [Date.UTC(2008, 8, 28), 0.68460], [Date.UTC(2008, 8, 29), 0.68460], [Date.UTC(2008, 8, 30), 0.69230], [Date.UTC(2008, 9, 01), 0.69970], [Date.UTC(2008, 9, 02), 0.70980], [Date.UTC(2008, 9, 03), 0.71880], [Date.UTC(2008, 9, 04), 0.72320], [Date.UTC(2008, 9, 05), 0.72620], [Date.UTC(2008, 9, 06), 0.72660], [Date.UTC(2008, 9, 07), 0.73590], [Date.UTC(2008, 9, 8), 0.73680], [Date.UTC(2008, 9, 9), 0.73370], [Date.UTC(2008, 9, 10), 0.73170], [Date.UTC(2008, 9, 11), 0.73870], [Date.UTC(2008, 9, 12), 0.74670], [Date.UTC(2008, 9, 13), 0.74610], [Date.UTC(2008, 9, 14), 0.73660], [Date.UTC(2008, 9, 15), 0.73190], [Date.UTC(2008, 9, 16), 0.73610], [Date.UTC(2008, 9, 17), 0.74370], [Date.UTC(2008, 9, 18), 0.74320], [Date.UTC(2008, 9, 19), 0.74610], [Date.UTC(2008, 9, 20), 0.74610], [Date.UTC(2008, 9, 21), 0.74540], [Date.UTC(2008, 9, 22), 0.75490], [Date.UTC(2008, 9, 23), 0.77420], [Date.UTC(2008, 9, 24), 0.78010], [Date.UTC(2008, 9, 25), 0.79030], [Date.UTC(2008, 9, 26), 0.78760], [Date.UTC(2008, 9, 27), 0.79280], [Date.UTC(2008, 9, 28), 0.79910], [Date.UTC(2008, 9, 29), 0.80070], [Date.UTC(2008, 9, 30), 0.78230], [Date.UTC(2008, 9, 31), 0.76610], [Date.UTC(2008, 10, 01), 0.7850], [Date.UTC(2008, 10, 02), 0.78630], [Date.UTC(2008, 10, 03), 0.78620], [Date.UTC(2008, 10, 04), 0.78210], [Date.UTC(2008, 10, 05), 0.78580], [Date.UTC(2008, 10, 06), 0.77310], [Date.UTC(2008, 10, 07), 0.77790], [Date.UTC(2008, 10, 8), 0.78440], [Date.UTC(2008, 10, 9), 0.78660], [Date.UTC(2008, 10, 10), 0.78640], [Date.UTC(2008, 10, 11), 0.77880], [Date.UTC(2008, 10, 12), 0.78750], [Date.UTC(2008, 10, 13), 0.79710], [Date.UTC(2008, 10, 14), 0.80040], [Date.UTC(2008, 10, 15), 0.78570], [Date.UTC(2008, 10, 16), 0.79320], [Date.UTC(2008, 10, 17), 0.79380], [Date.UTC(2008, 10, 18), 0.79270], [Date.UTC(2008, 10, 19), 0.79180], [Date.UTC(2008, 10, 20), 0.79190], [Date.UTC(2008, 10, 21), 0.79890], [Date.UTC(2008, 10, 22), 0.79880], [Date.UTC(2008, 10, 23), 0.79490], [Date.UTC(2008, 10, 24), 0.79480], [Date.UTC(2008, 10, 25), 0.78820], [Date.UTC(2008, 10, 26), 0.77450], [Date.UTC(2008, 10, 27), 0.7710], [Date.UTC(2008, 10, 28), 0.7750], [Date.UTC(2008, 10, 29), 0.77910], [Date.UTC(2008, 10, 30), 0.78820], [Date.UTC(2008, 11, 01), 0.78820], [Date.UTC(2008, 11, 02), 0.78990], [Date.UTC(2008, 11, 03), 0.79050], [Date.UTC(2008, 11, 04), 0.78890], [Date.UTC(2008, 11, 05), 0.78790], [Date.UTC(2008, 11, 06), 0.78550], [Date.UTC(2008, 11, 07), 0.78660], [Date.UTC(2008, 11, 8), 0.78650], [Date.UTC(2008, 11, 9), 0.77950], [Date.UTC(2008, 11, 10), 0.77580], [Date.UTC(2008, 11, 11), 0.77170], [Date.UTC(2008, 11, 12), 0.7610], [Date.UTC(2008, 11, 13), 0.74970], [Date.UTC(2008, 11, 14), 0.74710], [Date.UTC(2008, 11, 15), 0.74730], [Date.UTC(2008, 11, 16), 0.74070], [Date.UTC(2008, 11, 17), 0.72880], [Date.UTC(2008, 11, 18), 0.70740], [Date.UTC(2008, 11, 19), 0.69270], [Date.UTC(2008, 11, 20), 0.70830], [Date.UTC(2008, 11, 21), 0.71910], [Date.UTC(2008, 11, 22), 0.7190], [Date.UTC(2008, 11, 23), 0.71530], [Date.UTC(2008, 11, 24), 0.71560], [Date.UTC(2008, 11, 25), 0.71580], [Date.UTC(2008, 11, 26), 0.7140], [Date.UTC(2008, 11, 27), 0.71190], [Date.UTC(2008, 11, 28), 0.71290], [Date.UTC(2008, 11, 29), 0.71290], [Date.UTC(2008, 11, 30), 0.70490], [Date.UTC(2008, 11, 31), 0.70950]
	      ]
	   }]
	});

	
	
	
	
//=======================================================


		array = <%=  @ticket_per_month.to_json  %>;
		var chart = new Highcharts.Chart({
		   chart: {
		      renderTo: 'tickets-per-day', 
		      defaultSeriesType: 'area'
		   },
		   title: {
		      text: 'Tickets Per Day'
		   },

		   xAxis: {
			title: {
				text: 'Day'
			},
			
		   },
		   yAxis: {
		      title: {
		         text: 'Tickets'
		      },
			tickInterval: "1"
		      
		   },
		   tooltip: {
		      formatter: function() {
		         return Highcharts.numberFormat(this.y, 0, null, ' ')+' '+ this.series.name +' added <b>'+
		             ' '+ this.x;
		      }
		   },
		   plotOptions: {
		      area: {
		         pointStart: 0,
		         marker: {
		            enabled: false,
		            symbol: 'circle',
		            radius: 1
		         }
		      }
		   },
		   series: [{
		      name: 'Tickets',
		      data: array
		   }]
		});
		
		
		
		
		array = <%=  @whymail_per_month.to_json  %>;
		var chart = new Highcharts.Chart({
		   chart: {
		      renderTo: 'whymails-per-day', 
		      defaultSeriesType: 'area'
		   },
		   title: {
		      text: 'Whymails Per Day'
		   },

		   xAxis: {
			title: {
				text: 'Day'
			},
			
		   },
		   yAxis: {
		      title: {
		         text: 'Whymails'
		      },
			tickInterval: "1"
		      
		   },
		   tooltip: {
		      formatter: function() {
		         return Highcharts.numberFormat(this.y, 0, null, ' ')+' '+ this.series.name +' added <b>'+
		             ' '+ this.x;
		      }
		   },
		   plotOptions: {
		      area: {
		         pointStart: 0,
		         marker: {
		            enabled: false,
		            symbol: 'circle',
		            radius: 1
		         }
		      }
		   },
		   series: [{
		      name: 'Whymails',
		      data: array
		   }]
		});
		
			
	</script>
<% end %>


<div>
	<%= @users %>
	
	
<br /><br />
	
	</div>
<div id = "users-per-day" class="small-chart span-6">
</div>



<div id = "tickets-per-day" class="small-chart span-6">
</div>
<br />

<div id = "whymails-per-day" class=" small-chart ">
</div>

<div id = "container" class = "small-chart">
</div>
	
<br />


<br />
<hr />

Users Total 30 Day: <%= @user_count %>
<br />
Whymail Total 30 Day: <%= @whymail_count %>
<br />
Ticket Total 30 Day: <%= @ticket_count %>

<br />
