<% content_for :html_head do %>

<%= stylesheet_link_tag 'why.css', :media => 'screen, projection' %> 

<%= javascript_include_tag 'highcharts'  %>


	
	<script type="text/javascript">
	


    
	date_array = <%= @users[:data].to_json.gsub!(/\"/, '') %>;
	
	
		var chart = new Highcharts.Chart({
		   chart: {
		      renderTo: 'users-per-day',
		   },
		        title: {
		      text: 'New Users Per Day'
		   },
		        subtitle: {
		      text: 'New Users, they\'re awesome and stuff'
		   },
		   xAxis: {
		      type: 'datetime',
		      title: {
		         text: null
		      }
		   },
		   yAxis: {
		      title: {
		         text: 'Users'
		      },
		      min: 0,
		      showFirstLabel: false
		   },
		   tooltip: {
		      formatter: function() {
		         return Highcharts.numberFormat(this.y, 0) + " Users on <br />" + Highcharts.dateFormat('%A %B %e %Y', this.x) + ':<br/>';
		      }
		   },
		   legend: {
		      enabled: false
		   },
		   plotOptions: {
		      spline: {
		         marker: {
		            enable: false
		         }
		      }
		   },
		  
		   series: [{
		      data: date_array
		   }]
		});
		
		
		date_array = <%= @tickets[:data].to_json.gsub!(/\"/, '') %>;
			var chart = new Highcharts.Chart({
			   chart: {
			      renderTo: 'tickets-per-day',
			   },
			        title: {
			      text: 'New Tickets Per Day'
			   },
			        subtitle: {
			      text: 'New Tickets, they\'re awesome and stuff'
			   },
			   xAxis: {
			      type: 'datetime',
			      title: {
			         text: null
			      }
			   },
			   yAxis: {
			      title: {
			         text: 'Tickets'
			      },
			      min: 0,
			      showFirstLabel: false
			   },
			   tooltip: {
			      formatter: function() {
			         return Highcharts.numberFormat(this.y, 0) + " Tickets on <br />" + Highcharts.dateFormat('%A %B %e %Y', this.x) + ':<br/>';
			      }
			   },
			   legend: {
			      enabled: false
			   },
			   plotOptions: {
			      spline: {
			         marker: {
			            enable: false
			         }
			      }
			   },

			   series: [{
			      data: date_array
			   }]
			});
	
	
	
			date_array = <%= @whymails[:data].to_json.gsub!(/\"/, '') %>;
				var chart = new Highcharts.Chart({
				   chart: {
				      renderTo: 'whymails-per-day',
				   },
				        title: {
				      text: 'New Whymails Per Day'
				   },
				        subtitle: {
				      text: 'New Whymails, they\'re awesome and stuff'
				   },
				   xAxis: {
				      type: 'datetime',
				      title: {
				         text: null
				      }
				   },
				   yAxis: {
				      title: {
				         text: 'Whymails'
				      },
				      min: 0,
				      showFirstLabel: false
				   },
				   tooltip: {
				      formatter: function() {
				         return Highcharts.numberFormat(this.y, 0) + " Whymails on <br />" + Highcharts.dateFormat('%A %B %e %Y', this.x) + ':<br/>';
				      }
				   },
				   legend: {
				      enabled: false
				   },
				   plotOptions: {
				      spline: {
				         marker: {
				            enable: false
				         }
				      }
				   },

				   series: [{
				      data: date_array
				   }]
				});
//=======================================================
/*

		array = <%=  @ticket_per_month.to_json  %>;
		var chart = new Highcharts.Chart({
		   chart: {
		      renderTo: 'tickets-per-day', 
		      defaultSeriesType: 'area'
		   },
		   title: {
		      text: 'Tickets Per Day'
		   },

		   xAxis: {
			title: {
				text: 'Day'
			},
			
		   },
		   yAxis: {
		      title: {
		         text: 'Tickets'
		      },
			tickInterval: "1"
		      
		   },
		   tooltip: {
		      formatter: function() {
		         return Highcharts.numberFormat(this.y, 0, null, ' ')+' '+ this.series.name +' added <b>'+
		             ' '+ this.x;
		      }
		   },
		   plotOptions: {
		      area: {
		         pointStart: 0,
		         marker: {
		            enabled: false,
		            symbol: 'circle',
		            radius: 1
		         }
		      }
		   },
		   series: [{
		      name: 'Tickets',
		      data: array
		   }]
		});
		
		
		
		
		array = <%=  @whymail_per_month.to_json  %>;
		var chart = new Highcharts.Chart({
		   chart: {
		      renderTo: 'whymails-per-day', 
		      defaultSeriesType: 'area'
		   },
		   title: {
		      text: 'Whymails Per Day'
		   },

		   xAxis: {
			title: {
				text: 'Day'
			},
			
		   },
		   yAxis: {
		      title: {
		         text: 'Whymails'
		      },
			tickInterval: "1"
		      
		   },
		   tooltip: {
		      formatter: function() {
		         return Highcharts.numberFormat(this.y, 0, null, ' ')+' '+ this.series.name +' added <b>'+
		             ' '+ this.x;
		      }
		   },
		   plotOptions: {
		      area: {
		         pointStart: 0,
		         marker: {
		            enabled: false,
		            symbol: 'circle',
		            radius: 1
		         }
		      }
		   },
		   series: [{
		      name: 'Whymails',
		      data: array
		   }]
		});
		*/
			
	</script>
<% end %>


<div>
	
	
<br /><br />
	
	</div>
<div class = "span-24">
	<div id = "users-per-day" class="small-chart span-6">
	</div>



	<div id = "tickets-per-day" class="small-chart span-6">
	</div>
</div>
<div class = "span-12">
	<div id = "whymails-per-day" class="small-chart ">
	</div>
</div>
	
<hr />

Users Total 30 Day: <%= @users[:count] %>
<br />
Whymail Total 30 Day: <%= @whymails[:count]  %>
<br />
Ticket Total 30 Day: <%= @tickets[:count]  %>

<br />
