<% content_for :html_head do %>

<%= stylesheet_link_tag 'why.css', :media => 'screen, projection' %> 

<%= javascript_include_tag 'highcharts'  %>


	
	<script type="text/javascript">
	date_array = <%= format_dates_for_array(@user_date_array).to_json %>
	array = <%=  @user_per_month.to_json  %>;
			var chart = new Highcharts.Chart({
			   chart: {
			      renderTo: 'users-per-day', 
			      defaultSeriesType: 'area'
			   },
			   title: {
			      text: 'Users Per Day'
			   },
			   subtitle: {
			      text: ''
			   },
			 xAxis: {
			      //categories: date_array
			   },

				
			   yAxis: {
			      title: {
			         text: 'Users'
			      },
				tickInterval: "1"
			      
			   },
			   tooltip: {
			      formatter: function() {
			         return Highcharts.numberFormat(this.y, 0, null, ' ')+' '+ this.series.name +' added <b>'+
			             ' '+ this.x;
			      }
			   },
			   plotOptions: {
			      area: {
			         pointStart: 0,
			         marker: {
			            enabled: false,
			            symbol: 'circle',
			            radius: 1
			         }
			      }
			   },
			   series: [{
			      name: 'Users',
			      data: array
			   }]
			});




		array = <%=  @ticket_per_month.to_json  %>;
		var chart = new Highcharts.Chart({
		   chart: {
		      renderTo: 'tickets-per-day', 
		      defaultSeriesType: 'area'
		   },
		   title: {
		      text: 'Tickets Per Day'
		   },

		   xAxis: {
			title: {
				text: 'Day'
			},
			
		   },
		   yAxis: {
		      title: {
		         text: 'Tickets'
		      },
			tickInterval: "1"
		      
		   },
		   tooltip: {
		      formatter: function() {
		         return Highcharts.numberFormat(this.y, 0, null, ' ')+' '+ this.series.name +' added <b>'+
		             ' '+ this.x;
		      }
		   },
		   plotOptions: {
		      area: {
		         pointStart: 0,
		         marker: {
		            enabled: false,
		            symbol: 'circle',
		            radius: 1
		         }
		      }
		   },
		   series: [{
		      name: 'Tickets',
		      data: array
		   }]
		});
		
		
		
		
		array = <%=  @whymail_per_month.to_json  %>;
		var chart = new Highcharts.Chart({
		   chart: {
		      renderTo: 'whymails-per-day', 
		      defaultSeriesType: 'area'
		   },
		   title: {
		      text: 'Whymails Per Day'
		   },

		   xAxis: {
			title: {
				text: 'Day'
			},
			
		   },
		   yAxis: {
		      title: {
		         text: 'Whymails'
		      },
			tickInterval: "1"
		      
		   },
		   tooltip: {
		      formatter: function() {
		         return Highcharts.numberFormat(this.y, 0, null, ' ')+' '+ this.series.name +' added <b>'+
		             ' '+ this.x;
		      }
		   },
		   plotOptions: {
		      area: {
		         pointStart: 0,
		         marker: {
		            enabled: false,
		            symbol: 'circle',
		            radius: 1
		         }
		      }
		   },
		   series: [{
		      name: 'Whymails',
		      data: array
		   }]
		});
		
			
	</script>
<% end %>


<div>
	
	
	<%# @user_date_array.each do |date| %>
		<%# day_of_the_week(date) %><br />
	<%# end %>
	
<br /><br />
	
	</div>
<div id = "users-per-day" class="small-chart span-6">
</div>



<div id = "tickets-per-day" class="small-chart span-6">
</div>
<br />

<div id = "whymails-per-day" class=" small-chart span-6">
</div>
<br />

<div id = "blah-per-day" class=" small-chart span-6">
</div>
<br />
<hr />

Users Total 30 Day: <%= @user_count %>
<br />
Whymail Total 30 Day: <%= @whymail_count %>
<br />
Ticket Total 30 Day: <%= @ticket_count %>

<br />
