<h1>Want to Help?</h1>
<br />
<p> At WhySpam.Me we're focused on bring world class spam fighting to world class users. So if you want to get involved, and make the world a better place, then take a look at our list below and see how you can lend a hand!</p><br />

<ul id = "contribute">
	<li><b>Feedback -</b> Plain and simple, if you have thoughts, feelings, insights, or foresights let us know with the red feedback widget on the side. You can even use it to submit bug reports!</li>
	
	<li><b>Spread the Word - </b> So you already have a half dozen 
	<%= link_to "Secure Email", home_path, {:host => "whyspam.me", :only_path => true } %>
	 addresses, a few <%= link_to "secure forms", forms_path, { } %>, and you're totally digging the firefox plugin. Tell your friends, and let everyone know that they can hold spammers accountable for their actions, no more hiding in the dark. Please use the icons in the bottom right to spread the word, and if you have something more grand in mind then <%= link_to " Contact Us", {:action => "contact", :controller => "users"} %> </li>
	
	<li><b>Creative Design - </b> We are interested in new ideas for favicons, icons, css, and overall web design improvements and ideas. Designs to make using WhySpam.me and any of our tools a unique brand experience that is useful and memorable are greatly appreciated. Please <%= link_to " contact us ", {:action => "contact", :controller => "users"} %> directly</li>
	
	<li><b>Web Design -</b>Are you a jquery master, maybe a Ruby on Rails wizard, or an HTML king (or Queen)? If so check out the <a href="http://github.com/thinkbohemian/WhySpam">WhySpam Source Code </a>on GitHub. If you would like to optimize some code, or add some new features, make a branch and if John Q Public likes it, we'll happily put it on the web. If you want some more specific involvement don't hesitate to <%= link_to " Contact Us ", {:action => "contact", :controller => "users"} %>. </li>
	
	<li><b>Web Security -</b> Do you eat Unix, dream in tcp/ip, and spot the fed every year at DefCon? Great! If there are any security holes in our system, we want to know about them before anyone else. Check out the <a href="http://github.com/thinkbohemian/WhySpam">source code</a>, and if you see something that could be better, <%= link_to "let us know", {:action => "contact", :controller => "users"} %>, and we'll be happy to give you the credit you deserve on the site. </li>	
		
	<li><b><a href="http://www.spam.com">Spam -</a></b> Hey Hormel!! We're not totally against Spam, just the non-edible kind. So get a pic with a can and show us how you really feel on <a href="http://www.flickr.com/search/?q=whyspam&w=all">Flickr</a> (creativity does count). You can even spread the spam and donate a can or two to your local food shelter.</li>	
</ul><br />
</ul>