

<div id = "cryptmail">
<h3>WhySpam.me addresses</h3><br />
<hr />

<br />
<br />


<% @infos.each do |info| %>
<span class="clickable"  onclick = "window.location.href = '<%= url_for :controller => 'info', :id => info.id, :action => 'show' %>' "   >
    <span><%= info.cryptmail %></span>
    <span><%= info.website %></span>
</span><!-- clickable -->

<button href = "<%= report_spam_url(:info => info.id) %>"  rel = "prettyPop_No_close"  >Edit</button>

<button href = "<%= spam_survey_url(:info => info.id) %>"  rel = "prettyPop_No_close"  >Delete</button>

<!-- spam_survey_url(:info => info.id) -->
                                                                                              
<% end %>                                                                                     

</div>