<%= page_title 'My Account' %>
<div class = "prepend-1">

<p>
  <b>Log in:</b>
  <%=h @user.login %>
</p>

<p>
  <b>Email:</b>
  <%=h @user.email %>
</p>



<% if !@user.last_login_at.nil? %>
	<p>
	  <b>Last login at:</b>
	  <%=h @user.last_login_at.to_s(:long) %>
	</p>
<% end %>

<p>
  <b>Login count:</b>
  <%=h @user.login_count %>
</p>




<%= link_to 'Edit', edit_account_path %>
</div>