

<div id = "spam_survey">
<% if @info.website != nil %>


<p>
This is the last step before you Block all spam coming from <%= @info.cryptmail + "@whyspam.me" %>. If you wish to report <%= @info.website %> as selling your information to another company, or if you have recieved unsolicited emails from them please submit the survey below. Then click on the link at the bottom. <br />

<% form_for :survey, :url => {:action => 'create', :controller => 'surveys', :info => @info.id} do |f| -%> 

<%= f.submit "No Thanks, Just Block This Forwarding account "%>


<% end %>
</p>

<% form_for @survey, :url => {:action => 'create', :controller => 'surveys', :info => @info.id } do |f| -%> 

<hr />



<table>
	<tr>
		<td>Did <%= @website %> Require Action on your part to opt  out of Emails? <br /> Such as "Uncheck this box to opt out of receiving our Newsletter " </td>
		<td> <%= f.radio_button("opt_out", "true") %> Yes</td><td> <%= f.radio_button("opt_out", "false") %> No</td>
	</tr>
	<tr>
		<td>Did this site Send you Un-solicited Emails?": </td>
		<td> <%= f.radio_button("un_solicited", "true") %> Yes</td><td> <%= f.radio_button("un_solicited", "false") %> No</td>
	</tr>
	<tr>
		<td>Did this website sell your email address? <br />
			(You received emails from sources you did not give this address to) </td>
		<td> <%= f.radio_button("sell", "true") %> Yes</td><td> <%= f.radio_button("sell", "false") %> No</td>
	</tr>
	<tr>
		<td>Did you receive vulgar or inappropriate emails at this account?</td>
		<td> <%= f.radio_button("vulgar", "true") %> Yes</td><td> <%= f.radio_button("vulgar", "false") %> No</td>
	</tr>
	<tr>

	</tr>


	
	
</table>

<b>Comments</b><br />
 <%= f.text_area :comments ,:rows => 2 %><br />

<%=  f.hidden_field :user_id, 	:value => @user.id %>
<%=  f.hidden_field :cryptmail, :value => @info.cryptmail %>

<%= f.submit "Report & Block This Spamer"%>
<% end %>
<% end %>
</div>