<% @user = User.new %>
<%= javascript_include_tag  :defaults %>

  <% remote_form_for @user, :controller => 'users', :update => 'update', :loading => "Element.hide('update');Element.show('indicator')", :loaded => "Element.hide('indicator');Element.appear('update')",
			:url =>  { :action => "no_spam"}, 
			:html => { } do |f| %>
			
			
<%# form_for @contact, :url => { :action => "no_spam" } do  |f| -%> 

<div id = "main_title">
	<h1>Why Spam Me ?</h1>
</div>


<div id = "main_input" >
<table>
<tr><td>Your Email:</td><td><%= f.text_field :email %></td></tr>
<tr><td>Website:</td><td><%= f.text_field :website %></td></tr>
</table>

<%= f.submit "Quit Spamming!!" %>
<% end %>

<%= image_tag("loading_small.gif",
			   :id     =>  "loading",
			   :style  =>  'display:none;') %>


			<%= error_messages_for :user %>

<div id = "update" style = "display:none">
	
	update me
</div>


<div class = "the_indicator">
<%= image_tag("loading.gif",
			   :id => "indicator",
			   :style  =>  'display:none;') %>
</div>

</div>
