<%= link_to "Back", manage_path %><br />


<script type="text/javascript">
		$("tr[rel^='prettyPopin']").prettyPopin();
</script>


<table cellpadding="0" cellspacing="0" border="0" class="display" id="dataTable">
	<thead>
		<tr>
			<th>From</th>
			<th>Subject</th>
			<th>Recieved</th>
		</tr>

	</thead>
	<tbody>

	<% @tickets.each do |ticket| %>
	<tr class="clickable" 
	href="<%= url_for ticket_path(ticket.id) %>" rel="prettyPopin">
			<td><%= ticket.from_email||"Error Retrieving Email Address" %> </td>
			<td ><%= ticket.subject||"(No Subject)" %></td>
			<td class = "date" ><%= ticket.created_at.to_s(:short) %></td></tr>
	<% end %>


	</tbody>
	<tfoot>
		<tr>
			<th>From</th>
			<th>Subject</th>
			<th>Recieved</th>
		</tr>
	</tfoot>
</table>



