

<%= error_messages_for :ticket %>
<% form_for :ticket, :url => {:action => 'show_slop', :controller => 'tickets'} do |f| -%>

<h2>Dive Into The Slop Box</h2>
<div id = "float_wrapper">

<div id = "main_input" >
<table>
	<tr>
		<td>
			<b><%= label_tag 'Pick an email:' %></b>
		</td>
		<td colspan = "2"> <%= f.text_field :to_email %></td>
	</tr>
	<%= show_simple_captcha %>
	
</table>


<center>
	<br />
<%= f.submit "Show me my Mail!" %>
</center>


<% end %>






</div>

<div id = "ads">
	<script type="text/javascript"><!--
	google_ad_client = "pub-9419044821517786";
	/* WhySpam Square */
	google_ad_slot = "6597264537";
	google_ad_width = 200;
	google_ad_height = 200;
	//-->
	</script>
	<script type="text/javascript"
	src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
	</script>
</div><!-- ads -->
<div class = "float_space"></div>
</div><!-- wrapper -->

<div id = "update" style = "display:none">
showing up too soon
</div>

<center>
	<%= image_tag("loading.gif",
				   :id => "indicator",
				   :style  =>  'display:none') %>
</center>


<br />
<br />
<div id = "float_wrapper">

<div id = "email_explained">
	
	<h4>What is a Slop Box?</h4>
	<p>
	A slop box, is the oldest known defense against spammers. A slopsbox is a temporary inbox that you can use to signup for random services. When a website you don't care about asks for your email address, give them one of ours instead. You never give them your email, heck...you never give us your email. No Signup necessary. 
	<br /><br />
	A slop box is:
	
	<a href = "http://www.slopsbox.com">SlopsBox.com</a> or 
	<a href = "http://www.mailinator.com">Mailinator.com</a>. 
	
	 <br />
	 <br />
		<%= link_to "We will never sell your personal email or give out your personal information.", {:action => "privacy", :controller => "users"}, {:rel => "prettyPopin" } %>
	</p>
</di>
</div>

<div id = "email_useage">
	
	<h4>How to Use WhySpam™ Secure Forms?</h4>
	<p>
		Fill out the form and we'll give you a Link you can post wherever you like. When your done with the link, 
		you can cancel your form any time. 
		Anyone who clicks the link will go to a form where they can send you a message.
		We forward the message to you personal email, so you get all your messages right in your inbox,
		without worrying about spam-bots. <br /><br />
		Just another way WhySpam™ works to help save your inbox!
		
				
		
 <br /><br />
		<%= link_to "We do not give out your email or personal information. Period.", {:action => "privacy", :controller => "users"}, {:rel => "prettyPopin" } %>
	</p>
</di>
</div>
<div class = "float_space">
</div>

</div><!-- float_wrapper-->




