<div class = "float_right">
	<%= render :partial => 'static/ads' %>
</div>

<h2>Frequently Asked Questions</h2>

<ul class = "prepend-1">
	
	<li><%= link_to "What is A Disposable Email?", :anchor => "why "%>
	<li><%= link_to "How Do I Generate A Disposable Email?" , :anchor => "generate" %>
	<li><%= link_to "How Do I Delete a Disposable Email?", :anchor => "delete" %></li>
	
	<li><%= link_to "Why Don't I See Forwarded Messages in my Personal Inbox?", :anchor => "no_messages" %></li>	
	
	<li><%= link_to "How Do I Know that my Information is Secure?", :anchor => "secure" %></li>
	
	<li><%= link_to "How Does Whyspam Cover its Costs?", :anchor => "money"%></li>
	
	<li><%= link_to "Do you have a browser Plugin?", :anchor => "plugin" %></li>
	
	<li><%= link_to "How can I Show Users that my Website is Trustworthy?", :anchor => "plugin" %></li>
	<li><%= link_to "I Really Hate Spam, How Can I Help?", :anchor => "plugin" %></li>
	
	
	
</ul>
<br /><br /><br />

<div id = "what">
	<h3>What is A Disposable Email?</h3>
	<hr />
	<p class= "prepend-1">
<object width="560" height="340"><param name="movie" value="http://www.youtube.com/v/SLJHPMxgAWU&hl=en_US&fs=1&color1=0x2b405b&color2=0x6b8ab6"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/SLJHPMxgAWU&hl=en_US&fs=1&color1=0x2b405b&color2=0x6b8ab6" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="560" height="340"></embed></object>
	</p>
</div>


<div id = "generate">
	<h3>How Do I Generate A Disposable Email?</h3>
	<hr />
	<p class= "prepend-1">
<object width="560" height="380"><param name="movie" value="http://www.youtube.com/v/DtjOTK-_PJY&hl=en_US&fs=1&color1=0x2b405b&color2=0x6b8ab6"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/DtjOTK-_PJY&hl=en_US&fs=1&color1=0x2b405b&color2=0x6b8ab6" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="560" height="380"></embed></object>
	</p>
</div>

<div id = "delete">	
	<h3>How Do I Delete a Disposable Email?</h3>
	<hr />
	<p class = "prepend-1">
	
	 <%= link_to 'Log in', login_path %> to your account and then click <%= link_to 'manage spam', manage_index_path %>. From there you can select the delete button on any of your disposable email accounts to remove that address from the face of the earth. After removing an address, you will never receive any forwarded messages from them ever again. 
	</p>
</div>


<div id = "no_messages">
	<h3>Why Don't I See Forwarded Messages in my Personal Inbox?</h3>
	<hr />
	<p class = "prepend-1">
	If you've given out a disposable email address and haven't seen any forwarded messages, first check to see if our server got the
	message by <%= link_to 'logging in', login_path %>, and then going to <%= link_to 'manage spam', manage_index_path %>. From here you
	 can check to see if you've received any emails.
	<br /><br />
	If you see that we got the message but it was not forwarded to your inbox, check your spam folder on  your personal account. If you
 still cannot find the email send yourself a quick test email to your disposable address. Make sure to put in a subject and a message in the body so it doesn't get tagged by your mail server as spam. 
	<br /><br />
	If after sending yourself an email message, you still don't get anything forwarded to you please <%= link_to " contact us", {:action => "contact", :controller => "static"} %> and let us know your disposable email address. We will investigate why you aren't 
	 receiving forwarded messages. 	
	</p>
	<hr />
</div>




<div id = "secure">
	<h3>How Do I Know that my Information is Secure?</h3>
	
	<p class = "prepend-1">
	We will never send you unsolicited emails or sell your private information. Please review our <%= link_to "privacy policy", url_for(:action => "privacy", :controller => "static")  %>. In addition all of code is open source, so you can see exactly how mail goes from our servers to your inbox. If you're interested in adding new features or helping boost security. Check out the <a href="http://github.com/thinkbohemian/WhySpam">whyspam source code on github</a>.
	</p>
</div>

<div id = "secure">
	<h3>How Do I Know Whyspam Won't Sell my Information?</h3>
	<hr />
	
	<p class = "prepend-1">
	Even though that would defeat the whole purpose of the site, it is good that users are wary of giving their email to anyone. The only way we will continue to receive repeat users is by providing quality spam tools with great user experiences. We rely on word of mouth instead of an expensive advertising budget, so we can't afford to have people bad mouthing our service. Don't believe it? Generate a disposable email address and don't give it to anyone, you shouldn't receive any messages...it's that simple. 
	<br />
	<br />
	Sure its possible spammers could foil this test by sending out messages to every email @whyspam.me but they would have to send out every letter-number A-Z and 0-9 for twenty characters thats 20 to the power of 36 which is <b>13,367,494,500,000,000,000,000,000,000,000</b> possible combinations just to find your single disposable email. We're not saying it's not possible...just that its really not very economical for them. 
	<br /><br />
	If you're wondering how we can afford to do what we do check out: <%= link_to "How Does Whyspam cover its costs?", :anchor => "money"%>
</p>
</div>

<div id = "money">
	<h3>How Does Whyspam cover its costs?</h3>
	<hr />
	
	<p class = "prepend-1">
	 We pay for our costs with non-invasive and small text ads. We're always looking for new tools to develop and maybe one of them could be commercialized. We may find ways to add premium content for a small fee but disposable email and forms will always be free. If you have any suggestions please <%= link_to " contact us", {:action => "contact", :controller => "static"} %>, or submit feedback with the widget on the left. 
	<br /><br />
	All spam reports will be audited for free from time-to-time to ensure no one is abusing the system. If a company or individual wishes for a more frequent spam audit you can <%= link_to " contact us", {:action => "contact", :controller => "static"} %>. 
	</p>
</div>


<div id = "plugin">
	
	<h3>Do you have a Browser Plugin?</h3>
	<hr />
	
	<p class = "prepend-1">
		Yes, our browser plugin for firefox is called <a href = "https://addons.mozilla.org/en-US/firefox/addon/14411">SpamFire</a>, and we call our plugin for Chrome <a href="https://chrome.google.com/extensions/detail/bocfjjmdfnoogaflbdbeigbihlalcbdk">SpamFireCR</a>. Both let you generate disposable email from the comfort of your own browser, you never have to visit our site. The more emails you use, the safer you are. 
	</p>
</div>

<div id = "badge">
	
	<h3>How can I Show Users that my Website is Trustworthy</h3>
	<hr />
	
	<p class = "prepend-1">
		So you've got a website and its great, you know that you're a trustworthy person, but unfortunately being trustworthy isn't a visible attribute when it comes to websites, until now. 
		<br /><br />
		You can put a why spam badge that lets your users know at a glance that not only are you trustworthy, you're accountable for your actions, and remain committed to respecting their email and privacy rights. 
	</p>
</div>




<div id = "help">
	
	<h3>I Really Hate Spam, How Can I Help?</h3>
	<hr />
	
	<p class = "prepend-1">
		WhySpam.Me is completely open sourced. We listen to what you have to say, so please give us your feedback using the widget on the left. If you've got design, web development, or security experience please send us a message or check out our code repository. We love new ideas and we're very open to trying new things, as long as it helps out our users. If you don't know anything about web stuff, don't worry we need your help telling people how they can hold websites accountable for the spam they sell. So please, evangelize away, the more people who use disposable emails, the more accurate our spam list and rankings are!
	</p>
</div>