Copy the code below, and paste it in your website: <br /><br />

<div id = "findwidget"class = "center">
	<code>
	<textarea id="code" cols="85" rows="8" readonly onclick="this.focus(); this.select();" style = "overflow:hidden">
	&lt;script type=&quot;text/javascript&quot;&gt;
		website_url = &quot;<%=h @website %>&quot;;
		only_checked = &quot;<%=h @boolean %>&quot;; //change to true if you don't want website grade to show up after site is ranked
	&lt;/script&gt;
	&lt;script type=&quot;text/javascript&quot; src=&quot;http://whyspam.me/javascripts/whyspamwidget3fi19ue7zjaoQxpi.js&quot;&gt;
	&lt;/script&gt;
		</textarea>
	</code>

		<br />
		<br />
		<% if @boolean == "true" %>
			<p>Now when a user vists your site they are given a piece of mind and a direct link to check on your trustworthiness</p>

			<%= link_to image_tag("widgets/checked.png", :border => 0), show_website_path(:url => @website), {:target => "_blank"} %>

		<% else %>
				<p>Now when a user vists your site they know exactly how good you have been and have a direct link to check on your trustworthiness</p>

			<%= link_to image_tag("widgets/checked.png", :border => 0), show_website_path(:url => @website), {:target => "_blank"} %>
				
				
			<p>As soon as someone ranks, your site, your logo will change from "checked", to "validated" like the image below</p>
			<br /><br />
			<%= link_to image_tag("widgets/aplusvalid.png", :border => 0), show_website_path(:url => @website), {:target => "_blank"} %>
			
		<% end %>

	</div>

