<h2>Does your Website Spam?</h2><br />
<p>That's the question every one of your visitors asks themselves before giving away their email. Even if you've got a great privacy policy, there is no way of knowing if you're selling off email addresses under the table. Give your users a piece of mind and uphold your great name with a WhySpam Verification for your website! It's quick and easy, just fill out the form below and we'll verify your good intentions and give your users a piece of mind.</p>
<br />
<p>
	<div class = "center" id = "grade_widget_select">
		<% form_tag  grade_widget_index_path, :method => "post" do %> 
			 
			 <%= label_tag(:website, "Your Website URL:") %>  <%= text_field_tag(:website) %> <br /><br />
						<label><img  src = "/images/whyratingAplus.png" /><input type="radio" checked="checked" class="styled" name = "displaytype" value = "validated" /></label> <br /> <%= link_to "Validated ?", {:action => "validated", :controller => "grade_widget", :id => 2}, {:rel => "prettyPopin" } %><br /><br />
			<label><img  src = "/images/whyratingchecked.png" /><input type="radio" class="styled" name = "displaytype" value = "checked"  /></label> <br /> <%= link_to "Checked ?" , {:action => "checked", :controller => "grade_widget", :id => 2},  {:rel => "prettyPopin" } %><br />

			
			<br /><br />
		   
			 <%= submit_tag("Submit") %>
		<% end %> 
	</div>
	
</p>