<%= stylesheet_link_tag 'spamfire.css' %>	



<div id = "new_spamfire_wrapper" class = "span-14">
	<div class = "span-14">
		<div class = "envelope">
		<%= link_to image_tag( "whyFav.png") , home_path, :target => "_blank" %>
		</div>
		<%= link_to "Generate A New Email", {:controller => "spamfire", :action => "new"} %> &nbsp | &nbsp <%= link_to 'Log Out', {:controller => 'spamfire_sessions', :action => 'destroy'} %>

	</div>
<div class = "span-13" >
	<table  cellpadding="0" cellspacing="0" border="0" style = "width:500px" class="display" id="dataTable_whymails">
		<thead>
			<tr>
				<th>Disposable Address</th>
				<th>Website</th>
				<th>Created</th>
				<% if current_user  %>
					<th>Action</th>
				<% end %>
			</tr>
		</thead>
		<tbody>
		
	<% @whymails.each do |whymail| %>
	<tr class="clickable"  >
		<td><%=h whymail.email %></td>
		<td><%=h whymail.website %></td>
		<td><%= whymail.created_at.strftime("%Y.%m.%d") %></td>
		<% if current_user  %>
			<td>
				<%= link_to "Check", { :controller => 'manage', :id => whymail.id, :type => "whymail", :action => 'show', :target => "_blank"} %>
				<%= link_to "Delete", { :controller => 'surveys', :id => whymail.id,  :action => 'new' } %>
			
			</td>
		<% end %>
	</tr>    
                           
	<% end %>                                                                                     
		<tfoot>
		</tbody>
			<tr>
				<th>Disposable Email Address</th>
				<th>Website</th>
				<th>(Y.M.D)</th>
				<% if current_user %>
					<th>Action</th>
				<% end %>
			</tr>
		</tfoot>
	</table>
</div>
</div>

<%= javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js' %>



<%= stylesheet_link_tag 'demo_page.css' %> 
<%= stylesheet_link_tag 'demo_table_jui.css' %> 
<%= javascript_include_tag 'jquery.dataTables.min.js' %>


<script type="text/javascript" charset="utf-8">
	$(document).ready(function() {
		window.myboolean = false ;
		oTable = $('#dataTable_whymails, #dataTable_forms').dataTable({
			"bJQueryUI": true,
			"sPaginationType": "full_numbers"
		});			
		
	} );
</script>

