<%= stylesheet_link_tag 'spamfire.css' %>	

<div id = "spam_survey">
<% if @whymail.website != nil && !@whymail.website.strip.empty?  %>


<p>
Delete this email address: <b><%= @whymail.email %></b> ? <br /><br />
This action cannot be undone. Please consider filling out a survey below about <b><%= @whymail.website %></b>. 
<br /> <br />

<% form_for :survey, :url => {:action => 'create', :controller => 'surveys', :whymail => @whymail.id}  do |f| -%> 

<%= f.submit "Delete this Email" %>


<% end %>
</p>

<% form_for @survey, :url => {:action => 'create', :controller => 'surveys', :whymail => @whymail.id } do |f| -%> 

<hr />

<h2>Survey for <b><%= @whymail.website %></b></h2>

<table>
	<tr>
		<td>Did they Require Action on your part to opt out of Emails? <br /> <i> &nbsp &nbsp &nbsp "Uncheck this box to opt out of receiving our Newsletter "</i> </td>
		<td> <%= f.radio_button("opt_out", "true") %> Yes</td><td> <%= f.radio_button("opt_out", "false") %> No</td>
	</tr>
	<tr>
		<td>Did they Send you Un-solicited Emails?": </td>
		<td> <%= f.radio_button("un_solicited", "true") %> Yes</td><td> <%= f.radio_button("un_solicited", "false") %> No</td>
	</tr>
	<tr>
		<td>Did they sell your email address? <br />
			<i> &nbsp &nbsp &nbsp (You received emails from sources you did not give this address to)</i> </td>
		<td> <%= f.radio_button("sell", "true") %> Yes</td><td> <%= f.radio_button("sell", "false") %> No</td>
	</tr>
	<tr>
		<td>Did they send you vulgar or inappropriate emails?</td>
		<td> <%= f.radio_button("vulgar", "true") %> Yes</td><td> <%= f.radio_button("vulgar", "false") %> No</td>
	</tr>
	<tr>
		<td>Did you give this email address to anyone other than <b><%= @whymail.website %> </b>?</td>
		<td> <%= f.radio_button("give_out", "true") %> Yes</td><td> <%= f.radio_button("give_out", "false") %> No</td>
	</tr>
	<tr>

	</tr>


	
	
</table>

<b>Additional Comments</b><br />
 <%= f.text_area :comments ,:rows => 2 %><br />

<%=  f.hidden_field :email, :value => @whymail.email %>
<%= f.hidden_field :user_id, :value => @user.id %> 

<%= f.submit " Delete Email and Submit Survey" %>
<% end %>

<% else %>
<p>
Would you like to block all forwarded emails from <%= @whymail.email %> ? Once done, this action cannot be undone. 
</p>

<% form_for :survey, :url => {:action => 'create', :controller => 'surveys', :whymail => @whymail.id} do  |f| -%> 
<%= f.submit "Block" %>


<% end %>

<p>If you would like to report a website as a known spammer, please include the website name in the form the next time you generate your disposable email address. This allows us to track those who sell your information. </p>
<% end %>
</div>