<div id = "update_this_partial">
	<% if @rendered != false %>
	<script type="text/javascript">
	$(document).ready(function(){ 
	  $("#main_input").liquidCanvas("[border{width:2;color:#c8c8c8} fill{color:#f9ffb2}] => roundedRect{radius:35}");
	});
	</script>
	<% end %>

<div id = "float_wrapper">
<div id = "main_input" >
	<!-- create -->
	  <% remote_form_for :form, :url => forms_path, :update => 'update_this_partial', :loading => "$('#indicator').show();$('#update_this_partial').hide();", :complete => "$('#indicator').hide();$('#update_this_partial').hide().appear();" do |f| %>
<table>
<tr><td>Your Email:</td><td colspan = 2><%= f.text_field :email , :rows => 2 %></td></tr>
<tr><td>Comments:<span class = "optional">(Optional)</span></td><td colspan = 2><%=  f.text_area :comments, :rows => 2 %></td></tr>

<%= show_simple_captcha %>
</table>


<center>
	<br />
<%= f.submit "Generate Secure Form" %>
</center>
<span class = "float_right">
	<%= link_to "We Don't Spam", {:action => "privacy", :controller => "users"}, {:rel => "prettyPopin" } %>
</span>

<% end %>
			<%= error_messages_for :user %>
</div>

<div class = "float_space"></div>
</div><!-- wrapper -->

<% if @rendered == true %>

	<script type="text/javascript">
	  $("#no_spam").liquidCanvas("[shadow fill{color:#fff}] => roundedRect");
	  $("#no_spam").highlight();

	</script>
	<hr /><br />

	<div id = "no_spam_container">

	<% if @no_spam != nil %>
		<div id = "no_spam_label">Your Form Link:</div><br />
			<textarea id = "no_spam" class = "center" cols="50" rows="1" readonly onclick="this.focus(); this.select();" style = "overflow:hidden;border:0"><%= @no_spam %></textarea>
		<p> Give This Link to anyone you want to contact you </p>
	<% end %>
	<div onclick="this.focus(); this.select();" class = "center">
		
	<%= @extra_message %>
	</div>
	</div>
	<br />
	<br />
	<hr />
	<br />
	<% if !@no_spam.nil? %>
	
	In addition to using the above link, you can also put this secure form directly on your website !! To use copy the code below and put it in the html of your website. Then anyone can send you a safe and secure message. 

	<% end %>
	
	<div class = "center">
	<br />
	<code>
	<textarea id="code" cols="65" rows="10" readonly onclick="this.focus(); this.select();" style = "overflow:hidden">
&lt;div id = &quot;WhySpamJavaScript&quot; class = &quot;center&quot;&gt;	
  &lt;script type=&quot;text/javascript&quot;&gt;
	request_state = &quot;a19dk17djcn37z&quot;;
	form_id = &quot;<%= @crypt_form %>&quot;;
    slot = &quot;65973256140537&quot;;
  &lt;/script&gt;
    &lt;script type=&quot;text/javascript&quot;src=&quot;http://whyspam.me/javascripts/WhySpamExtern1a72jd6x1z.js&quot;&gt;
  &lt;/script&gt;
&lt;/div&gt;
	</textarea>
	</code>
	<br />
	<br />
	<hr />
	</div>
<% end %>


</div>