<%= stylesheet_link_tag 'form.css', :media => 'screen, projection' %> 



<div id = "externspamwrap">
	<% if flash[:notice] && !@localrequest  %><div id="flash"><%= flash[:notice] %></div><% end %>	
	<% if flash[:error] && !@localrequest%><div id="flash" class = "flash_error" ><%= flash[:error] %></div><% end %>
<% if @form_data.nil? %>


<p>No form exists with this ID either this user has deleted this form, or someone mistyped this form URL. If you believe you've gotten this message in error please <%= link_to "Contact Us", {:action => "contact", :controller => "static"} %>.
	<br />
	<br />
If you wish to create your own contact form, you can do it by clicking on the <%= link_to "Disposable Forms", new_form_path  %> link above, its the quickest way to make an anonymous form on the web.
<% else %>

	<div class = "messageWrapper">
			<div class = "span-1"><a href="http://whyspam.me/forms/new" ><%= image_tag("whyFav.png", :alt => "Disposable contact forms by whyspam.me") %></a></div>
			<p class = "span-10">
				<b>Leave a Message For: &nbsp</b>
				<%= @form_data.name.nil? || @form_data.name.empty? ? "Anonomous" : @form_data.name %>
			</p>
	<div class = 'disposableForm'>
			  <%#remote_form_for :form, :url => forms_path, :update => 'update_this_partial', :loading => "$('#indicator').show();$('#update_this_partial').hide();", :complete => "$('#indicator').hide();$('#update_this_partial').show();" do |f| %>
		<% form_for :form, :url => {:action => "send_form", :controller => "forms"}, :update => 'update_this_partial' do |f| %>
		<table class = "forms">
			<tr>
				<td colspan=2 ><%= f.default_text_area :comments, "Leave a Message"  %> </td>
			</tr>
			<tr>
				<td><%= f.default_text_field :name, "Your Name" %><%= f.default_text_field :email, "Your Email" %></td>
				<td></td>
			</tr>
			<tr>
				<td>
					<%= show_simple_captcha %>
				</td>
			</tr>
		</table>
		<%= f.hidden_field :form_id, :value => @form_data.id %>
		
		<div class = "span-4">
			<%= f.submit "Send Your Message"  %>
		</div>
		 <p class = " prepend-6 span-6"><b>	Created: <%= @form_data.created_at.strftime("%m/%d/%Y")%> </b></p>

		<% end %>
		
	</div>
				<%= error_messages_for :user %>
	</div>
<% end %>
</div>