

<% @keywords =  'free contact form,forms,generator,anonymous,help,webmaster,email forms,contact form,web form,email form,form,contact,form generator,feedback forms,form builder,form to email,website contact form,disposable contact form'%>

<% @description = 'Disposable contact forms are a free easy way to let people on the web send you emails using a form without having to give out your personal email address. All form submissions are forwarded directly to your inbox.  '  %>


<div class = "span-24">
	<%= page_title('Disposable Contact Forms', 'h2') %>
	
	
	<div class = "span-18">
		<%= render :partial => "create"  %>
	</div>
	<div class = "prepend-1 last">
		<%= render :partial => "static/ads"%>
	</div>
	
	<div class = "span-24 last center">
		<%= image_tag("loading.gif",
					   :id => "indicator",
					   :style  =>  'display:none') %>
	</div>


	<br />
	<br />

		<div>
			<div id="tabs" class = "span-19 last">
			<ul>
				<li><a href="#tabs-1">What is a WhySpam™ Disposable Form?</a></li>
				<li><a href="#tabs-2">Demo</a></li>
				<li><a href="#tabs-3">How Do I Use WhySpam™ Disposable Forms?</a></li>
			</ul>
			<div id="tabs-1">
				<p><strong>What is a WhySpam™ Disposable Form</strong></p>
						<p>A WhySpam™ Disposable Form lets you keep your email away from all those nasty spam-bots while giving everyone else a way to keep in-touch. Instead of posting your email address out there on the web for anyone to see, we'll give you a link that you can give out.
						When someone clicks on the link, they'll get a form they can fill out to send you an email. This way you get your email, without ever having to give out your email address. When your done with the link, you can cancel your form any time. <br /><br />
							<%= link_to "We will never sell your personal email or give out your personal information.", {:action => "privacy", :controller => "static"} %></p>
				
				
			</div>
			<div id="tabs-2">
				<p><strong>WhySpam™ Disposable Form Demo</strong></p>
				<p>Insert YouTube Demo Here<br />
					(Coming Soon)
					</p>
					
			</div>
			<div id="tabs-3">
				<p><strong>How Do I Use WhySpam™ Disposable Forms?</strong></p>
				<p> 
					Fill out the form and we'll give you a Link you can post wherever you like. When your done with the link, 
					you can cancel your form any time. 
					Anyone who clicks the link will go to a form where they can send you a message.
					We forward the message to you personal email, so you get all your messages right in your inbox,
					without worrying about spam-bots. <br /><br />
					Just another way WhySpam™ works to help save your inbox!
				
					 <br /><br />	
					<%= link_to "We do not give out your email or personal information. Period.", 
									url_for(:action => "privacy", :controller => "static")  %>
					</p>
			</div>
		</div>

		</div><!-- End demo -->
	
</div>