


<h2>WhySpam™ Secure Forms  </h2>
<!-- form partial -->

<% if @form_data != nil %>
		<div id = "update_this_partial">
			<% if @rendered != false %>
			<% end %>

		<div id = "float_wrapper">
		 
		<div id = "main_input" >
			
				<b> This form was created: <%= @form_data.created_at.strftime("%m/%d/%Y")%> </b>
				<br />
				<br />
				<b> User comments for this form:</b>
				<br />
				<br />
				<%= @form_data.comments.nil? || @form_data.comments.empty? ? "This user left no comments for this form" : @form_data.comments %>

				<br />
				<br />
				  <% form_for :form, :url => {:action => "send_secure_form", :controller => "forms"}, :update => 'update_this_partial' do |f| %>
			<table>
			<tr><td class = "optional_td"><%= f.label "Your Email:" %><br /><span class = "optional">(Optional)</span></td><td colspan = 2><%= f.text_field :email , :rows => 2 %></td></tr>
			<tr><td><%= f.label "Message:" %></td><td colspan = 5><%=  f.text_area :comments, :rows => 5 %></td></tr>

			<%= show_simple_captcha %>
			</table>
			<center>
				<br />

			<%= f.hidden_field :form_id, :value => @form_data.id %>
			<%= f.submit "Send Your Message" %>
			</center>
					<br />
			<span class = "float_right">
				<%= link_to "We Don't Spam", url_for(:action => "privacy", :controller => "static")  %>
			</span>

			<% end %>



						<%= error_messages_for :user %>


	
		</div>

		<div class = "float_space"></div>
		</div><!-- wrapper -->

		<% if @rendered == true %>

			<script type="text/javascript">
			  $("#no_spam").liquidCanvas("[shadow fill{color:#fff}] => roundedRect");
			  $("#no_spam").highlight();

			</script>
			<hr /><br />

			<div id = "no_spam_container">

			<% if @no_spam != nil %>
				<div id = "no_spam_label">Your Form Link:</div><br />
				<div id = "no_spam">
					<%= @no_spam %>
				</div>
				<p> Give This Link to anyone you want to contact you </p>
			<% end %>
			<center>
			<%= @extra_message %>
			</center>
			</div>
			<br />
			<br />
			<hr />

		<% end %>

		</div>
	<% else %>
		<p>No form exists with an ID of <%= @crypt.upcase %> either this user has deleted this form, or someone mistyped this form URL. If you believe you've gotten this message in error please <%= link_to "Contact Us", contact_us_path %>.
			<br />
			<br />
		If you wish to create your own contact form, you can do it by clicking on the <%= link_to "Secure Forms", new_form_path  %> link above, its the quickest way to make an anonymous form on the web. 
	<% end %>
<!-- form partial -->
<center>
	<%= image_tag("loading.gif",
				   :id => "indicator",
				   :style  =>  'display:none') %>
</center>


<br />
<br />
<div id = "float_wrapper">

<div id = "email_explained">
	
	<h4>What is WhySpam™ Secure Forms?</h4>
	<p>
	A WhySpam™ Secure Form is a form that someone generated to let others contact them without exposing their email address to nasty spam-bots. So if you fill out the form, we'll pass your message along to whoever generated this form. 
	<br />
	<br />
	
	
	If you want to generate your own form then just click on the <%= link_to "Secure Forms", new_form_path  %> link above and then Instead of posting your email address out there on the web for anyone to see, we'll give you a link that you can give out instead.
	When someone clicks on the link, they'll get a form they can fill out to send you an email. This way you get your email, without ever having to give out your email address. When your done with the link, you can cancel your form any time. 
	 <br />
	 <br />
		<%= link_to "We do not give out your email or personal information. Period.", 
						url_for(:action => "privacy", :controller => "static")  %>
	</p>
</di>
</div>

<div id = "email_useage">
	
	<h4>How to Use WhySpam™ Secure Forms?</h4>
	<p>
		Fill out this form and we'll pass on this message to whoever created the form. If you want them to know who sent the message please fill out your email address. Then copy the text from the image and click on the button, and you're done!! They can read your message and everyones happy!!

		<br /><br />
		Just another way WhySpam™ works to help save everyones inbox!
		
		
		

		
		
 <br /><br />
	<%= link_to "We do not give out your email or personal information. Period.", 
					url_for(:action => "privacy", :controller => "static")  %>
	
	
	</p>
</di>
</div>
<div class = "float_space">
</div>

</div><!-- float_wrapper-->
