


<h2>WhySpam™ Disposable Forms  </h2>
<!-- form partial -->
	<div class= "span-16 prepend-2">
	<% if @form_data != nil %>
		<div id = "update_this_partial">
			<% if @rendered != false %>
			<% end %>

			<div id = "float_wrapper">
				<div id = "main_input" >
					<%= render :partial => "show"%>
				</div>
				<%= error_messages_for :user %>
			</div>
		</div>
	</div>
	
	<div >
		<%= render :partial => "static/ads"%>
	</div>
	
	
	
	<% else %>
				<p>No form exists with an ID of <%= @crypt.upcase %> either this user has deleted this form, or someone mistyped this form URL. If you believe you've gotten this message in error please <%= link_to "Contact Us", {:action => "contact", :controller => "static"} %>.
					<br />
					<br />
				If you wish to create your own contact form, you can do it by clicking on the <%= link_to "Disposable Forms", new_form_path  %> link above, its the quickest way to make an anonymous form on the web. 
	<% end %>
	
<center>
	<%= image_tag("loading.gif",
				   :id => "indicator",
				   :style  =>  'display:none') %>
</center>




<div id = "email_explained" class="span-18">
	
	<h4><b>What is WhySpam™ Disposable Forms?</b></h4>
	<p>
	A WhySpam™ Disposable Form is a form that someone generated to let others contact them without exposing their email address to nasty spam-bots. So if you fill out the form, we'll pass your message along to whoever generated this form. 
	<br />
	<br />
	
	
	If you want to generate your own form then just click on the <%= link_to "Disposable Forms", new_form_path  %> link above and then Instead of posting your email address out there on the web for anyone to see, we'll give you a link that you can give out instead.
	When someone clicks on the link, they'll get a form they can fill out to send you an email. This way you get your email, without ever having to give out your email address. When your done with the link, you can cancel your form any time. 
	 <br />
	 <br />
		<%= link_to "We do not give out your email or personal information. Period.", 
						url_for(:action => "privacy", :controller => "static")  %>
	</p>
</div>


<div id = "email_useage" class = "span-18">
	
	<h4><b>How to Use WhySpam™ Disposable Forms?</b></h4>
	<p>
		Fill out this form and we'll pass on this message to whoever created the form. If you want them to know who sent the message please fill out your email address. Then copy the text from the image and click on the button, and you're done!! They can read your message and everyones happy!!

		<br /><br />
		Just another way WhySpam™ works to help save everyones inbox!
		
		
		

		
		
 <br /><br />
	<%= link_to "We do not give out your email or personal information. Period.", 
					url_for(:action => "privacy", :controller => "static")  %>
	
	
	</p>
</di>
</div>


