<% @keywords = 'login, log in, manage, whyspam me, disposable email login, disposable form login '%>

<% @description = Time.now.strftime("%b %d, %Y") + 'Log in to submit a spam survey, delete a disposable email,  or delete a contact form.'  %>


<%= page_title 'Log in' %>

<% form_for @user_session, :url => user_session_path do |f| %>
  <%= f.error_messages %>
<div class = "prepend-1 span-16">

  <table>
	<tr>
   		<td><%= f.label "Email:" %></td>
    	<td><%= f.text_field :email %></td>
	</tr>
  
	<tr>
    <td> <%= f.label :password, "Password: <br />(Default is your email)" %></td>
    <td><%= f.password_field :password %></td>
	</tr>
  </table>

  
  <div class='buttons clearfix prepend-2'>
	<%=  f.button_with_icon("Log In", "check") %><br /> <%= f.check_box :remember_me %>
	<span>Remember Me</span>
  </div>

</div>

<div class="span-4 prepend-1">
	<%= render :partial => "static/ads" %>
</div>

<% end %>

<div class="prepend-1 span-12">
<p>
  Forgot your password? <%= link_to 'Reset your password.', password_reset_path %>
</p>
</div>



