<%= page_title 'Log in' %>

<div class = "prepend-1">
<% form_for @user_session, :url => user_session_path do |f| %>
  <%= f.error_messages %>

  <div>
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  
  <div>
    <%= f.label :password, "Password: <br />(Default is your email)" %>
    <%= f.password_field :password %>
  </div>
  

  
  <div class='buttons clearfix'>
	<%=  f.button_with_icon("Log In", "check") %> <%= f.check_box :remember_me %>
	<span>Remember Me</span>
  </div>


<% end %>


<p>
  Need an account? <%= link_to 'Sign up now.', signup_path %><br/>

  Forgot your password? <%= link_to 'Reset your password.', password_reset_path %>
</p>

</div>



