<div class = "center">
<b>Manage:</b>
<%= link_to "Account Settings", user_path(current_user) %> 
</div>

<hr />
<br />

<div id = "manage_mail">
<h3>WhySpam.me Secure Email Addresses</h3><br />
<hr />

<br />
<br />
<% if !@infos.nil? %>
<table cellpadding="0" cellspacing="0" border="0" class="display" id="dataTable_infos">
	<thead>
		<tr>
			<th>Secure Email Address</th>
			<th>Website</th>
			<th>Last Used</th>
			<th>Created</th>
			<% if current_user == @user && logged_in?  %>
				<th>Action</th>
			<% end %>
		</tr>
	</thead>
	<tbody>
		
<% @infos.each do |info| %>
<tr class="clickable"  onclick = "window.location.href = '<%= url_for :controller => 'tickets', :id => info.id, :action => 'index' %>' "   >
	<td><%= info.cryptmail %></td>
	<td><%= info.website %></td>
	<td><%= info.tickets.empty??  "--"  : info.tickets.last.created_at.strftime("%m/%d/%Y")%></td>
	<td><%= info.created_at.strftime("%m/%d/%Y") %></td>
	<% if  current_user == @user && logged_in?  %>
		<td>
			<button class = "ticket_delete_button" href = "<%= spam_survey_url(:info => info.id) %>" 
				rel = "prettyPop_No_close"  >Delete</button>
		</td>
	<% end %>
</tr>    
                                      
<% end %>                                                                                     
	<tfoot>
	</tbody>
		<tr>
			<th>Secure Email Address</th>
			<th>Website</th>
			<th>Last Used</th>
			<th>Created</th>
			<% if current_user == @user && logged_in? %>
				<th>Action</th>
			<% end %>
		</tr>
	</tfoot>
</table>
<% else %>
<p>You Have no Secure Email Addresses for this Account</p>

<% end %>

<h3>WhySpam.me Secure Forms</h3><br />
<hr />

<br />
<br />


<% if !@forms.nil? %>


<table cellpadding="0" cellspacing="0" border="0" class="display" id="dataTable_forms">
	<thead>
		<tr>
			<th>Form URL</th>
			<th>Comments</th>
			<th>Last Used</th>
			<th>Created</th>
			<% if current_user == @user && logged_in?  %>
				<th>Action</th>
			<% end %>
		</tr>
	</thead>
	<tbody>
<% @forms.each do |form| %>
<tr class="clickable"  onclick = "window.location.href = '<%= url_for :controller => 'tickets', :id => form.id, :action => 'index' %>' "   >
	<td><a href = "<%= forms_url + '/'+ form.crypt_form %>"
		 ><%= forms_url + '/'+ form.crypt_form %></a></td>
	<td class = "comments"><%= form.comments %></td> 
	<td><%= form.tickets.empty? ?  "--" : form.tickets.last.created_at.strftime("%m/%d/%Y") %></td>
	<td><%= form.created_at.strftime("%m/%d/%Y") %></td>
	<% if  current_user == @user && logged_in?  %>
		<td>				<!-- form_path(form.id,:method => "delete") -->
				<%= button_to "Delete",form_path(form.id,:method => "delete")  , :confirm => "Deleting this form will prevent anyone from sending you email from the form located at #{forms_url + '/'+ form.crypt_form }. Are you sure you wish to continue?" , :method => :delete, :class => "delete_button"  %>
		</td>
	<% end %>
</tr>    
                                      
<% end %>                                                                                     
	</tbody>
	<tfoot>
		<tr>
			<th>Secure Email Address</th>
			<th>Website</th>
			<th>Last Used</th>
			<th>Created</th>
			<% if current_user == @user && logged_in? %>
				<th>Action</th>
			<% end %>
		</tr>
	</tfoot>
</table>
<% else %>
 <p>You Have no Secure Forms for this Account</p>
<% end %>
</div>





	
