
	
	
		<div id='site-title' class = "span-12 last">
			<h1 id="header"><a href = "http://www.whyspam.me">Disposable Email</a></h1>
		</div>
	
	<div class = "top_bar prepend-12">
		<div class = "span-5 " id = "login_links">
			<p>
		      <% unless current_user %>
		      <%= link_to 'Log in', login_path %>
		      <% else %>
			  <%= link_to "Manage Spam", {:controller => 'manage', :action => 'index'} %> |
		      <%= link_to 'Account', account_path %> |
		      <%= link_to 'Log out', logout_path %>
			  <%= link_to 'Admin', admin_path if current_user && current_user.admin?  %>
		      <% end %>
			</p>
		</div>
		<div class = " span-7 last">
			<% form_tag(websites_path, :method => "get", :id => 'main-inline') do %> 
				<%= default_text_field_tag :query, "Search" %> 
			<% end %>
		</div>
	</div>
	
	<div class = "prepend-10 span-15 nav last">
		 <ul class = "">
			<li><%=section_link 'email',home_path, :alt => "free email" %></li>
			<%#  section_link 'forms', new_form_path %>
			<li>&nbsp &nbsp  <%= section_link 'partners', {:controller => "static", :action => "partners"} %></li>
			<li><%= section_link 'blog', "http://blog.whyspam.me",  :alt => "disposable email blog"  %></li>
									
			<li><%=section_link "SpamReport", websites_path, :alt => "spam report" %></li>
		</ul>
	</div>
