

<div class = "span-25 clearfix center">
	<a href = "https://addons.mozilla.org/en-US/firefox/addon/14411/" class = "bottom_buttons inline-block center ui-state-default ui-corner-all  " id = "spamfire">
		<h2>Use Firefox?</h2><br />
		<%= image_tag "spamfire.png" %>
		<h3>Get SpamFire!</h3>
	</a>

	<a href = "<%= url_for( new_grade_widget_path) %>"  class = "bottom_buttons inline-block center ui-state-default ui-corner-all  " id = "widget">
		<h2>Got A Website?</h2><br />
		<%= image_tag "widgets/demovalid.png" %>
		<h3>Get Validated!</h3>
	</a>
	
	<a href =  "<%= url_for( :controller => "static", :action => "contribute") %>"  class = "bottom_buttons inline-block center ui-state-default ui-corner-all" id = "cc">
		<h2>Want To Help?</h2><br />
			<%= image_tag "creativecommons.png" %>
		<h3>Get Started!</h3>
	</a>
	
	<a href =  "https://chrome.google.com/extensions/detail/bocfjjmdfnoogaflbdbeigbihlalcbdk"  class = "bottom_buttons inline-block center ui-state-default ui-corner-all" id = "cc">
		<h2>Use Chrome?</h2><br />
			<%= image_tag "chrome-spamfire.png" %>
		<h3>Get the Plugin</h3>
	</a>
	
</div>