
<div class = "span-25 clearfix center">
	<a href = "https://addons.mozilla.org/en-US/firefox/addon/14411/" class = "bottom_buttons inline-block center ui-state-default ui-corner-all  " id = "spamfire">
		<h2>Use Firefox?</h2><br />
		<%= image_tag "spamfire.png" %>
		<h3>Get our Plugin!</h3>
	</a>
	
	<a href =  "https://chrome.google.com/extensions/detail/bocfjjmdfnoogaflbdbeigbihlalcbdk"  style = "display:none" class = "bottom_buttons inline-block center ui-state-default ui-corner-all" id = "chrome-spamfire">
		<h2>Use Chrome?</h2><br />
			<%= image_tag "chrome-spamfire.png" %>
		<h3>Get our Plugin!</h3>
	</a>
	
	

	<a href = "<%= url_for( new_grade_widget_path) %>"  class = "bottom_buttons inline-block center ui-state-default ui-corner-all  " id = "widget">
		<h2>Got A Website?</h2><br />
		<%= image_tag "widgets/demovalid.png" %>
		<h3>Get a Badge!</h3>
	</a>
	
	<a href =  "<%= url_for( :controller => "static", :action => "contribute") %>"  class = "bottom_buttons inline-block center ui-state-default ui-corner-all" id = "cc">
		<h2>You Can Help</h2><br />
			<%= image_tag "creativecommons.png" %>
		<h3>Find Out How!</h3>
	</a>
	

	
</div>

<script type="text/javascript">
var BrowserDetect = {
	init: function () {
		this.browser = this.searchString(this.dataBrowser) || "An unknown browser";
		this.version = this.searchVersion(navigator.userAgent)
			|| this.searchVersion(navigator.appVersion)
			|| "an unknown version";
		this.OS = this.searchString(this.dataOS) || "an unknown OS";
	},
	searchString: function (data) {
		for (var i=0;i<data.length;i++)	{
			var dataString = data[i].string;
			var dataProp = data[i].prop;
			this.versionSearchString = data[i].versionSearch || data[i].identity;
			if (dataString) {
				if (dataString.indexOf(data[i].subString) != -1)
					return data[i].identity;
			}
			else if (dataProp)
				return data[i].identity;
		}
	},
	searchVersion: function (dataString) {
		var index = dataString.indexOf(this.versionSearchString);
		if (index == -1) return;
		return parseFloat(dataString.substring(index+this.versionSearchString.length+1));
	},
	dataBrowser: [
		{
			string: navigator.userAgent,
			subString: "Chrome",
			identity: "Chrome"
		},
		{ 	string: navigator.userAgent,
			subString: "OmniWeb",
			versionSearch: "OmniWeb/",
			identity: "OmniWeb"
		},
		{
			string: navigator.vendor,
			subString: "Apple",
			identity: "Safari",
			versionSearch: "Version"
		},
		{
			prop: window.opera,
			identity: "Opera"
		},
		{
			string: navigator.vendor,
			subString: "iCab",
			identity: "iCab"
		},
		{
			string: navigator.vendor,
			subString: "KDE",
			identity: "Konqueror"
		},
		{
			string: navigator.userAgent,
			subString: "Firefox",
			identity: "Firefox"
		},
		{
			string: navigator.vendor,
			subString: "Camino",
			identity: "Camino"
		},
		{		// for newer Netscapes (6+)
			string: navigator.userAgent,
			subString: "Netscape",
			identity: "Netscape"
		},
		{
			string: navigator.userAgent,
			subString: "MSIE",
			identity: "Explorer",
			versionSearch: "MSIE"
		},
		{
			string: navigator.userAgent,
			subString: "Gecko",
			identity: "Mozilla",
			versionSearch: "rv"
		},
		{ 		// for older Netscapes (4-)
			string: navigator.userAgent,
			subString: "Mozilla",
			identity: "Netscape",
			versionSearch: "Mozilla"
		}
	],
	dataOS : [
		{
			string: navigator.platform,
			subString: "Win",
			identity: "Windows"
		},
		{
			string: navigator.platform,
			subString: "Mac",
			identity: "Mac"
		},
		{
			   string: navigator.userAgent,
			   subString: "iPhone",
			   identity: "iPhone/iPod"
	    },
		{
			string: navigator.platform,
			subString: "Linux",
			identity: "Linux"
		}
	]

};
BrowserDetect.init();

if (BrowserDetect.browser == "Chrome") {
	var element = document.getElementById('chrome-spamfire');
	element.style.display = "";
	element = document.getElementById('spamfire')
	element.style.display = "none";
}

else {
	var element = document.getElementById('chrome-spamfire');
	element.style.display = "none";
	element = document.getElementById('spamfire')
	element.style.display = "";
}
</script>