<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
  <head>
  	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <%= html_title configatron.site_name %>
		
<%=  meta_tags(meta = {:description => @description||Time.now.strftime("%b %d, %Y") +'WhySpam.me is a collection of tools you can use to cut down on the spam you receive and hit spammers where it hurts...in the wallet! Use it to safe guard your identity by generating disposable email addresses and check websites reputations.', :keywords => @keywords||'free disposable email,temporary email,free email,spam blocker,anonymous email, spam list,remove spam,email,anonymous,spam,stop spam,accountability, secure email,forward,report'}) %>


	<!-- bundle :name => "admin_asset_bundle", :css_path => "/temp/", :js_path => "/temp/"-->
	<%# bundle :name => "css" do %>
    	<%= stylesheet_link_tag 'why.css', :media => 'screen, projection' %> 
    	<%= stylesheet_link_tag 'custom_1/jquery-ui-1.7.2.custom.css', :media => 'screen, projection' %> 
	<%# end %>

    <%= stylesheet_link_tag 'print.css', :media => 'print' %>
    <!--[if lt IE 8]><%= stylesheet_link_tag 'ie.css', :media => "screen, projection" %><![endif]-->

  </head>

  <body id="<%= params[:controller] %>" class="<%= params[:action] %>">
	<div id = "content_wrapper" >
		<div id="dialog">
			<div id = "partial_update"></div>
		</div><!-- dialog -->
	
		<div class = "container">
		    <%= render :partial => 'layouts/account_bar' %>
		</div><!-- container -->
	
	    <div id='whitespace' class='container clearfix'>
		
			<div class = "span-24 last">
		
			<div id = "inner-whitespace" class = "span-24 last">
			    <%= display_flash %>
				   	  <%= yield %>
		
			</div><!-- inner-whitespace -->
			</div><!-- span-24 last -->
			
	    </div><!-- whitespace -->
<br />
<br />

	<%= render :partial => 'layouts/bottom_buttons'%>

</div><!-- content_wrapper -->

<br />
    <%= render :partial => 'layouts/footer' %>


     

    <%= javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js' %>

    <%# javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js' %>
    <%= javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/jquery-ui.min.js' %>
	
			<script type="text/javascript">
				var Header = {
					// Let's write in JSON to make it more modular
					addFade : function(selector){
						$("<span class=\"fake-hover\"></span>").css("display", "none").prependTo($(selector)); 
						// Safari dislikes hide() for some reason
						$(selector+" a").bind("mouseenter",function(){
							$(selector+" .fake-hover").fadeIn("slow");
						});
						$(selector+" a").bind("mouseleave",function(){
							$(selector+" .fake-hover").hide();
						});
					}
				};

				$(function(){
					Header.addFade("#header");
				});
				$(function() {
						$('.ui-state-default').hover(
							function() { $(this).addClass('ui-state-hover'); }, 
							function() { $(this).removeClass('ui-state-hover'); }						
						);
						$('.nav-button').hover(
							function() { $(this).addClass('on'); }, 
							function() { $(this).removeClass('on'); }						
						);
						
						
						$('#dialog').dialog({
							autoOpen: false,
							modal: true ,
							resizable: false,
							bgiframe: true,
							zIndex: 900001 ,
							width: 600
					
						});
						
						$('#dialog_link').click(function(){
							$('#dialog').dialog('open');
							return false;
						});				
					});	
			</script>
		


		<script type="text/javascript">
		var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
		document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
		</script>
		<script type="text/javascript">
		try {
		var pageTracker = _gat._getTracker("UA-5070471-4");
		pageTracker._trackPageview();
		} catch(err) {}</script>
		<script type="text/javascript" charset="utf-8">
		  var is_ssl = ("https:" == document.location.protocol);
		  var asset_host = is_ssl ? "https://s3.amazonaws.com/getsatisfaction.com/" : "http://s3.amazonaws.com/getsatisfaction.com/";
		  document.write(unescape("%3Cscript src='" + asset_host + "javascripts/feedback-v2.js' type='text/javascript'%3E%3C/script%3E"));
		</script>

		<script type="text/javascript" charset="utf-8">
		  var feedback_widget_options = {};

		  feedback_widget_options.display = "overlay";  
		  feedback_widget_options.company = "why_spam_me";
		  feedback_widget_options.placement = "left";
		  feedback_widget_options.color = "#030303";
		  feedback_widget_options.style = "idea";
		  var feedback_widget = new GSFN.feedback_widget(feedback_widget_options);
		</script>
		

		<%= yield :html_head %>
   	

  </body>
</html>