<html>
<head>	
		<meta http-equiv="content-type" content="text/html; charset=utf-8">	
		<meta name="author" content="Richard Schneeman">
		<meta name="verify-v1" content="WtrvU8zUP+Stu6up8RqDNNZ5zXNvWCQZFUe4RjxEpyI=">
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
		<title>Why Spam Me? - Expose Spammers and Free your Inbox</title>
		<META name = "description" content = "An online collection of spam fighting tools designed to free your inbox and track the people who sell your email address" />
		<META name = "keywords" content = "secure email, secure form, stop, spam, spamming, spammer, sanonymous" />
		
		
		<% the_request = request.path %>
		<% domain_array = the_request.scan(/([^.||^\d||^\:]+)/) %>
		<% for entry in domain_array%>
		  <% entry = entry.to_s%>
		  <% main_url = entry if entry != "www" && entry.size != 2 && entry != "com" && entry != "local" %>
		<% end %>

		<%# bundle do %>	  
			<%= javascript_include_tag 'jquery', 'jquery-ui', 'jrails', 
								'liquid-canvas', 'liquid-canvas-plugins', 'prettyComments', 
								'jquery.prettyPopin', 'highlight-active-input', 'jquery.dataTables',  'jquery.scrollTo-1.4.2-min' %>
			<%= stylesheet_link_tag 'why.css', 'prettyPopin.css', 'demo_table.css', 'slide.css' %>	
			
		<%# end %> 
		
	    <!--[if IE]><%= javascript_include_tag 'excanvas.js' %><![endif]-->
	
		<!-- PNG FIX for IE6 -->
	  	<!-- http://24ways.org/2007/supersleight-transparent-png-in-ie6 -->
		<!--[if lte IE 6]>
			<script type="text/javascript" src="js/pngfix/supersleight-min.js"></script>
		<![endif]-->
		
	  	
		<script type="text/javascript">
		  // First we wait until the document is completely loaded using the handy
		  // jQuery "ready" method.
		
		
		$(document).ready(function(){
		      $("#corner_wrapper").liquidCanvas("[shadow fill{color:#fff}] => roundedRect");
				$('textarea').prettyComments();
				$("tr[rel^='prettyPopin']").prettyPopin();
				$("a[rel^='prettyPopin']").prettyPopin({modal:false});
				$("button[rel^='prettyPop_No_close']").prettyPopin({modal:true});				
				$("#nav_1 a,#nav_2 a, #nav_3 a, #nav_4 a, #nav_5 a").liquidCanvas("[shadow gradient{from:#c2c2ff;to:#3f3cff;} ] => roundedRect");
				$('#nav_1_hover a,#nav_2_hover a, #nav_3_hover a , #nav_4_hover a,  #nav_5_hover a ').liquidCanvas('[TopShadow gradient{from:#3f3cff;to:#c2c2ff} ] => roundedRect');	
		      $("#main_input").liquidCanvas("[border{width:2;color:#c8c8c8} fill{color:#f9ffb2}] => roundedRect{radius:35}");
		      $("#main_input_websites").liquidCanvas("[shadow border{color:#fff} fill{color:#FFFFFF}] => roundedRect{radius:30}");
			  $("#getawidget, #getaplugin").liquidCanvas("[shadow border{color:#fff} fill{color:#FFFFFF}] => roundedRect{radius:30}");
			
				
			  $("#dataTable_infos").dataTable();
			  $("#dataTable_forms").dataTable();
			  $("#dataTable").dataTable();
		    
			  
			// Expand Panel
			$("#open").click(function(){
				$("div#panel").slideDown("slow");
			});	

			// Collapse Panel
			$("#close").click(function(){
				$("div#panel").slideUp("slow");	
			});		

			// Switch buttons from "Log In | Register" to "Close Panel" on click
			$("#toggle a").click(function () {
				$("#toggle a").toggle();
			});
			// Expand Panel
			});
		</script>	
</head>
<body>
	<div id="wrap">
		<%= render :partial => "/users/user_bar"%>		
		<br />
		<div id = "center_main">
		<div id = "main_title">
			<h1><%= link_to "Why Spam Me", home_path ,  :only_path => false %></h1>
			<%= link_to image_tag("QuestionEnvelope.png"), home_path %><h3><%= link_to "(Beta)", home_path %></h3>
			<br />
			<h5><%= link_to "Don't Just Block Spam, Fight Back!", home_path %></h5>
			<div id = "beta">
			</div>		
			<% form_tag(search_path, :method => "get", :id => 'main-inline') do %> 
				<%= text_field_tag(:query) %> 
				<%= submit_tag("Search Websites") %> 
			<% end %>
		</div>


		<div id="main-template" class="clearfix">

			<div id = "corner_wrapper">
				<div id = "content-main">
						<div id = "nav" >
						<span id = "nav_1_wrap" 
						 			>
						<span id = "nav_1"  >
						   <%= link_to "Secure Email", home_path, {
										 :host => "whyspam.me", :only_path => 
										true } %>
						</span>
						<span id = "nav_1_hover" class = "nav_hover" style ="display:none" >
						   <%= link_to "Secure Email", home_path , 
										:host => "whyspam.me", :only_path => 
										false %>
						</span>
						</span>

						<span id = "nav_2_wrap" >
							<span id = "nav_2"  >
							   <%= link_to "Secure Forms", 	forms_path , 
											{ } %>
							</span>
							<span id = "nav_2_hover" class = "nav_hover"  style ="display:none" >
							   <%= link_to "Secure Forms", 	{:action => "secure_forms", :controller => "users"} , 
											{ } %>
							</span>
						</span><!-- nav_2_wrap -->


						<span id = "nav_3_wrap" >
							<span id = "nav_3"  >
							   <%= link_to "Slop <br /> Box", 	{:action => "slop_box", :controller => "users"} , 
											{ } %>
							</span>
							<span id = "nav_3_hover" class = "nav_hover"  style ="display:none" >
							   <%= link_to "Slop <br /> Box", 	{:action => "slop_box", :controller => "users"} , 
											{ } %>
							</span>
						</span>

						<span id = "nav_4_wrap" >
							<span id = "nav_4"  >
							   <%= link_to "Website Rankings", 	websites_path , 
											{:style => "width:125px;" } %>
							</span>
							<span id = "nav_4_hover" class = "nav_hover"  style ="display:none" >
							   <%= link_to "Website Rankings", 	websites_path , 
											{ :style => "width:125px;" } %>
							</span>
						</span>

						<span id = "nav_5_wrap" >
							<span id = "nav_5"  >
							   <%= link_to "Manage Your Spam", { :action => "manage", :controller => "users"} , 
											{ :style => "width:150px"} %>
							</span>
							<span id = "nav_5_hover" class = "nav_hover"  style ="display:none" >
							   <%= link_to "Manage Your Spam", { :action => "manage", :controller => "users"} , 
											{:style => "width:150px;" } %>
							</span>
						</span>
						</div>
						<hr />
					<% if flash[:notice] %><div id="flash"><%= flash[:notice] %></div><% end %>
					<% if flash[:error] %><div id="flash" class = "flash_error" ><%= flash[:error] %></div><% end %>

					<br />

				<div id = "main">	
				<%= yield %>
				</div>
				</div>
			</div><!-- corner_wrapper-->
			<div class = "float-left">
				<div id = "getaplugin" class = "float-left">
					<div id="fixed">
					<%= link_to "<h2>Use Firefox?</h2><br />
					 #{image_tag("spamfire.jpg")}<br />
					<h3>Get SpamFire!</h3>", "https://addons.mozilla.org/en-US/firefox/addon/14411/" %>
					</div>
				</div>
				&nbsp
				<div id = "getawidget" class = "float-left" >
					<div id = "fixed">
					<%= link_to "<h2>Got A Website?</h2><br />
					 #{image_tag("whyratingAplus.png")}<br />
					<h3>Get Validated!</h3>", grade_widget_index_path %>
					</div>
				
				</div>
				&nbsp
				<div id = "getawidget" class = "float-left" >
					<div id = "fixed">
					<%= link_to "<h2>Want To Help?</h2><br />
					 #{image_tag("creativecommons.jpg")}<br />
					<h3>Get Started!</h3>", url_for( :controller => "users", :action => "contribute") %>
					</div>
				
				</div>
			</div>
			
		</div><!-- main-template -->

	</div>
	
	
	</div>

	<div id = "footer">
			<a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/us/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-sa/3.0/us/88x31.png" />
		<a href = "http://www.thinkbohemian.com">©Think Bohemian</a>
		 | <%= link_to " Privacy Policy", {:action => "privacy", :controller => "users"}, {:rel => "prettyPopin" } %>
		 | <%= link_to " About Us", {:action => "about", :controller => "users"}, {:rel => "prettyPopin" } %>
		 | <%= link_to " Contact Us ", {:action => "contact", :controller => "users"} %>
		
		<div class = "float_right">
			<%  current_page = url_escape(request.url) %>
			<%= link_to image_tag("digg_32.png"),  "http://digg.com/submit?phase=2&url="+ current_page %>
			<%= link_to image_tag("reddit_32.png"), "http://www.reddit.com/submit?url="+ current_page %> 
			<%= link_to image_tag("twitter_32.png"), "http://twitter.com/home?status=" + current_page %>
			<%= link_to image_tag("stumbleupon_32.png"), "http://www.stumbleupon.com/submit?url=" +  current_page %> 
			<%= link_to image_tag("yahoobuzz_32.png"), "http://buzz.yahoo.com/buzz?targetUrl=" +  current_page%> 
			<%= link_to image_tag("delicious_32.png"), "	http://del.icio.us/post?url=" +  current_page %> 			
			<%= link_to image_tag("facebook_32.png"), "http://www.facebook.com/sharer.php?u=" +  current_page %> 
			<% link_to image_tag("rss_32.png"), "www.digg.com" +  current_page %> 
			&nbsp
		</div>
	</div>


	<script type="text/javascript">
	var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
	document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
	</script>
	<script type="text/javascript">
	try {
	var pageTracker = _gat._getTracker("UA-5070471-4");
	pageTracker._trackPageview();
	} catch(err) {}</script>


	<script type="text/javascript">
	  var uservoiceJsHost = ("https:" == document.location.protocol) ? "https://uservoice.com" : "http://cdn.uservoice.com";
	  document.write(unescape("%3Cscript src='" + uservoiceJsHost + "/javascripts/widgets/tab.js' type='text/javascript'%3E%3C/script%3E"))
	</script>
	<script type="text/javascript">
	UserVoice.Tab.show({ 
	  key: 'whyspam',
	  host: 'whyspam.uservoice.com', 
	  forum: 'general', 
	  alignment: 'left',
	  background_color:'#f00', 
	  text_color: 'white',
	  hover_color: '#06C',
	  lang: 'en'
	})
	</script>

	</body>
	<script type="text/javascript">
	<!--
	  initInputHighlightScript();
	//-->
	</script>
	</html>