<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
            "http://www.w3.org/TR/html4/transitional.dtd">


<html>

<head>	
		<meta http-equiv="content-type" content="text/html; charset=utf-8">	
		<meta name="author" content="Richard Schneeman">
		<meta name="verify-v1" content="WtrvU8zUP+Stu6up8RqDNNZ5zXNvWCQZFUe4RjxEpyI=">
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
		
		<% bundle do %>
	  
			<%= javascript_include_tag 'jquery', 'jquery-ui', 'jrails', 
								'liquid-canvas', 'liquid-canvas-plugins', 'prettyComments', 
								'jquery.prettyPopin', 'highlight-active-input',  :cache => true %>
			<%= stylesheet_link_tag'why.css', 'prettyPopin.css' %>	
		    <!--[if IE]><%= javascript_include_tag 'excanvas.js' %><![endif]-->
	
			<% end %> 
	
		
		<script type="text/javascript">
		  // First we wait until the document is completely loaded using the handy
		  // jQuery "ready" method.
		
		
		$(document).ready(function(){
		
		//    $(window).load(function() {

		      $("#corner_wrapper").liquidCanvas("[shadow fill{color:#fff}] => roundedRect");
		 //     $("#corner_wrapper").liquidCanvas("[shadow fill{color:#fff}] => TopLeftroundedRect");
		
		
		
		
		     // $("#corner_wrapper").liquidCanvas("[shadow ] => Header");
				$('textarea').prettyComments();
				$("tr[rel^='prettyPopin']").prettyPopin();
				$("a[rel^='prettyPopin']").prettyPopin({modal:false});
				$(".button-to input").prettyPopin({modal:true});
				$("button[rel^='prettyPop_No_close']").prettyPopin({modal:true});
				
				
				$("#nav_1 a,#nav_2 a, #nav_3 a, #nav_4 a, #nav_5 a").liquidCanvas("[shadow gradient{from:#c2c2ff;to:#3f3cff;} ] => roundedRect");
				
				$('#nav_1_hover a,#nav_2_hover a, #nav_3_hover a , #nav_4_hover a,  #nav_5_hover a ').liquidCanvas('[TopShadow gradient{from:#3f3cff;to:#c2c2ff} ] => roundedRect');
				

		      $("#main_input").liquidCanvas("[border{width:2;color:#c8c8c8} fill{color:#f9ffb2}] => roundedRect{radius:35}");


		    });
		</script>
	


</head>

<body >	
	<div id = "center_main">
	<div id = "main_title">
		<%= render :partial => "partials/users/user_bar" %>
		<h1><%= link_to "Why Spam Me", home_path %></h1>
		<%= link_to image_tag("QuestionEnvelope.png"), home_path %><h3><%= link_to "(Beta)", home_path %></h3>
		<br />
		<h5><%= link_to "We Don't Just Block Spam, We Fight Back!", home_path %></h5>
		<div id = "beta">
		</div>		
	</div>
	
	
	<% form_tag(search_path, :method => "get", :id => 'main-inline') do %> 
		<%= text_field_tag(:query) %> 
		<%= submit_tag("Search") %> 
	<% end %>
	
	<div id = "corner_wrapper">
		<div id = "content-main">
				<div id = "nav" >
				<span id = "nav_1_wrap" 
				 			>
				<span id = "nav_1"  >
				   <%= link_to "Secure Email",home_path, {
								 :host => "whyspam.me", :only_path => 
								true } %>
				</span>
				<span id = "nav_1_hover" class = "nav_hover" style ="display:none" >
				   <%= link_to "Secure Email", home_path , 
								:host => "whyspam.me", :only_path => 
								false %>
				</span>
				</span>

				<span id = "nav_2_wrap" >
					<span id = "nav_2"  >
					   <%= link_to "Secure Forms", 	forms_path , 
									{ } %>
					</span>
					<span id = "nav_2_hover" class = "nav_hover"  style ="display:none" >
					   <%= link_to "Secure Forms", 	{:action => "secure_forms", :controller => "users"} , 
									{ } %>
					</span>
				</span><!-- nav_2_wrap -->


				<span id = "nav_3_wrap" >
					<span id = "nav_3"  >
					   <%= link_to "Slop <br /> Box", 	{:action => "slop_box", :controller => "users"} , 
									{ } %>
					</span>
					<span id = "nav_3_hover" class = "nav_hover"  style ="display:none" >
					   <%= link_to "Slop <br /> Box", 	{:action => "slop_box", :controller => "users"} , 
									{ } %>
					</span>
				</span>

				<span id = "nav_4_wrap" >
					<span id = "nav_4"  >
					   <%= link_to "Website Rankings", 	websites_path , 
									{:style => "width:125px;" } %>
					</span>
					<span id = "nav_4_hover" class = "nav_hover"  style ="display:none" >
					   <%= link_to "Website Rankings", 	websites_path , 
									{ :style => "width:125px;" } %>
					</span>
				</span>

				<span id = "nav_5_wrap" >
					<span id = "nav_5"  >
					   <%= link_to "Manage Your Spam", { :action => "manage", :controller => "users"} , 
									{ :style => "width:150px"} %>
					</span>
					<span id = "nav_5_hover" class = "nav_hover"  style ="display:none" >
					   <%= link_to "Manage Your Spam", { :action => "manage", :controller => "users"} , 
									{:style => "width:150px;" } %>
					</span>
				</span>
				</div>
				<hr />
			<% if flash[:notice] %><div id="flash"><%= flash[:notice] %></div><% end %>
			
			<% if flash[:error] %><div id="flash" class = "flash_error" ><%= flash[:error] %></div><% end %>
			
			<br />

		<div id = "main">	
		<%= yield %>
		</div>
		</div>
	</div>
	<div id = "footer">
		©Think Bohemian
		 | <%= link_to " Privacy Policy ", {:action => "optional", :controller => "users"}, {:rel => "prettyPopin" } %>
		 | <%= link_to " Contact Us X ", {:action => "optional", :controller => "users"}, {:rel => "prettyPopin" } %>
		 | <%= link_to " About Us X ", {:action => "optional", :controller => "users"}, {:rel => "prettyPopin" } %>
		
	</div>
	</div><!-- center_main -->
	
	
	<script type="text/javascript">
	var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
	document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
	</script>
	<script type="text/javascript">
	try {
	var pageTracker = _gat._getTracker("UA-5070471-4");
	pageTracker._trackPageview();
	} catch(err) {}</script>
	
	
	<script type="text/javascript">
	  var uservoiceJsHost = ("https:" == document.location.protocol) ? "https://uservoice.com" : "http://cdn.uservoice.com";
	  document.write(unescape("%3Cscript src='" + uservoiceJsHost + "/javascripts/widgets/tab.js' type='text/javascript'%3E%3C/script%3E"))
	</script>
	<script type="text/javascript">
	UserVoice.Tab.show({ 
	  key: 'whyspam',
	  host: 'whyspam.uservoice.com', 
	  forum: 'general', 
	  alignment: 'left',
	  background_color:'#f00', 
	  text_color: 'white',
	  hover_color: '#06C',
	  lang: 'en'
	})
	</script>
	
</body>



<script type="text/javascript">
<!--
  initInputHighlightScript();
//-->
</script>

</html>